[2015-01-19 00:17] zekiunal opened #2 "Email Regexp is supporting turkish characters."
çiş@çüş.com is validated email. is it wrong?

[2015-01-19 07:17] arasatasaygin commented on #2
There is an extra configuration method to override your own Regexps to library.
[code]
I'll also take a look at other Regexps too provide more international support.

[2015-01-23 11:17] arasatasaygin commented on #2
According to this article, RFC 6530 supports these characters:
http://en.wikipedia.org/wiki/Email_address#Internationalization
I will keep the email Regexp for now. As I said earlier 'setRegexp' method can serve for these kind of situational issues.
Thank you.

[2015-01-23 11:17] #2 closed

[2015-01-28 14:03] brnrd opened #4 "Tests failing with certain UK postcodes"
The regex to check if a postcode is a UK one fails with most of the postcode listed on [Wikipedia page about special UK postcodes](http://en.wikipedia.org/wiki/Postcodes_in_the_United_Kingdom#Special_cases).

[2015-01-28 20:37] BrockBeldham opened #6 "FEATURE - can you add an 'is.inArray()' check?"
For example if I have an item and I want to check to see if it's in an array I have:

    is.inArray([1, 2, 3, 4, 5, 6], 2);
    => true

    is.not.inArray([1, 2, 3, 4, 5, 6], 10);
    => true

Theoretically you could also do 'is.inObject()' or even 'is.inString()'.

[2015-01-28 23:14] f opened #10 "Improvement Suggestion: Seperating checks into different files to maintain easily."
Seperating checks to the folder and file structures and compiling them may make the project easier to maintain and more modular.

[code]

It will make the codebase easier for someone to add new checks without breaking the core.

[2015-01-28 23:46] arasatasaygin commented on #6
Thank for the feature offer @BrockBeldham
is.inArray check added by ryantemple right now.

For strings you can use:
[code]

and for objects there is:
[code]

Cheers.

[2015-01-28 23:48] f commented on #10
Proposal:

[code]

It may export to:

[code]

[2015-01-28 23:51] arasatasaygin commented on #4
Thanks @brnrd I'll try new RegExps to cover more. If you have suggestions, let me know.

[2015-01-28 23:53] #6 closed

[2015-01-29 00:17] arasatasaygin commented on #10
It looks like a good structure.
The whole library is pretty small -at the moment- and most of the methods are one-liners. So module per method may become an overkill.

What do you think about modularizing the check groups? Like maintaining and providing methods under:
- type
- env
- str

[2015-01-29 00:31] JamesYYang opened #11 "Can it use in node.js?"
Can it  use in node.js?

[2015-01-29 01:21] arasatasaygin commented on #11
Yes you can use it in Node.js @JamesYYang
It's not in npm registry though. I'll let you know about it.

[2015-01-29 02:58] oldboyxx commented on #10
I think it's fine as it is, let's not complicate only because we can.

[2015-01-29 07:28] ericrange opened #12 "isUTC"
hey, in my project i need this everytime. do you think it would fit in your lib? :)
[code]

[2015-01-29 07:29] ericrange commented on #11
+1

[2015-01-29 08:19] arasatasaygin commented on #10
Most of the feedbacks were about modularizing the library but I think I like it the way it is -simple- right now as you said @oldboyxx
We'll see the other opinions and decide upon it.

[2015-01-29 08:26] arasatasaygin commented on #12
Thanks @ericrange It might become handy. Noted it.
What others think? Is there anybody needs this check?

[2015-01-29 08:27] ericrange commented on #12
no... utc is valid if its between 0 and the utc of NOW! should not be negativ value and etc^^

[2015-01-29 08:30] ericrange commented on #12
actually... utc is always valid if its between 0 and X... mmhh :(
what i need is if the utc ever existed. you know what i mean? :D
the best way would be
[code]
if "my function" then true, else false

[2015-01-29 08:34] ericrange commented on #12
its maybe toooo specific for your lib :(
but datetime operations especially with utc is very important in my business

[2015-01-29 08:50] arasatasaygin commented on #12
What do you mean by 'if the utc ever existed'?

[2015-01-29 09:07] ericrange commented on #12
if the utc is in the past... the utc (number) existed :D

[2015-01-29 10:13] voronianski commented on #11
+1 that's huge please publish latest version to npm

/cc @arasatasaygin

[2015-01-29 10:14] arasatasaygin commented on #12
Do you want a comparison to check whether the client’s local time is past or ahead UTC?

Some clarification:
Let's take 10:00 UTC.
For example local time for Istanbul is +2 UTC (12:00) and local time for New York is -5 UTC (5:00)
[code]
Is this what you’re asking? It's a little bit tricky check. But generally speaking:
UTC checks can be handy for lots of us.
Thanks for the suggestions.

[2015-01-29 10:41] ericrange commented on #12
yes this is what i want! :)

[2015-01-29 10:42] ericrange commented on #12
sorry for the description... im a little bit language disabled^^

[2015-01-29 10:58] davidhund commented on #10
Personally I'd like to be able to create custom builds so 'modularizing the check groups' sounds like a great way to do this (without adding too much complexity)

[2015-01-29 11:02] arasatasaygin commented on #11
[code]
@JamesYYang @ericrange @voronianski  I've just published to npm. Let me know if you have any problems.
Cheers.

[2015-01-29 12:25] arasatasaygin commented on #12
Don't worry @ericrange
My English is pretty poor too :) Noted a UTC check method. Thanks.
I'll let you know when it's published.

[2015-01-29 13:54] danielj86 opened #13 "http://cdn.meme.am/instances/500x/58591895.jpg"

[2015-01-29 14:08] f commented on #10
It sounds like a good idea to me.

@oldboyxx

I agree but it's not making it complex, it's making it maintainable and modular, like custom modules.

If I'm using this library in a NodeJS project, I wouldn't need the `env` checkers. I may want to customize it running something like

[code]

[2015-01-29 14:17] arasatasaygin commented on #13
Added :)
[code]

[2015-01-29 14:29] #13 closed

[2015-01-29 14:29] #11 closed

[2015-01-30 06:25] arasatasaygin opened #15 "Library users should add their own RegExp checks on the fly."
This idea came from pull request https://github.com/arasatasaygin/is.js/pull/7
is.setRegexp method is now providing regexp updates for the builtin checks. We should use the same method to add new RegExps as a library users.

[2015-01-30 15:46] photostu opened #16 "IE10 - navigator.vendor not supported"
Still trying to figure out pull requests, until then, my attempt to fix this:

line 523:
var vendor = 'navigator' in window && 'vendor' in navigator && navigator.vendor.toLowerCase() || '';

[2015-01-30 15:56] arasatasaygin commented on #16
Thanks @photostu appreciate it.

[2015-01-30 15:56] photostu commented on #16
No problem, thanks for the sweet library :)

[2015-01-30 15:57] arasatasaygin commented on #16
:)

[2015-01-30 18:32] photostu commented on #16
so, I attempted to do a PR, let me know if that helps :)

[2015-01-30 21:51] irthos commented on #10
+1 idea separating the core script from the types and giving the option to include sets or custom sets that match structure.

[2015-02-01 07:39] scancel commented on #13
Lolz

[2015-02-01 08:55] Grawl opened #18 "Extending is.js with with own checks"
I just listed your readme and realized that is not only a great pack of functions but a great API for a new ones. So maybe you will provide some extending function to create something like `is.myExtension…`?

[2015-02-01 10:21] arasatasaygin commented on #16
Merged pull request https://github.com/arasatasaygin/is.js/pull/17

[2015-02-01 10:21] #16 closed

[2015-02-01 10:23] arasatasaygin commented on #18
Hi @Grawl
What kinds of interfaces would become handy except 'not', 'all' and 'any'? Maybe we cam implement them to the library.

[2015-02-01 11:46] Grawl commented on #18
I mean not an interfaces. I mean custom checks like `is.ruPostalCode(string)` or `is.transliterated(string)` to wrap all project checks into is.js API.

[2015-02-01 11:53] arasatasaygin commented on #18
Oh, got it. Planning to provide custom checks for RegExps -> https://github.com/arasatasaygin/is.js/issues/15
Maybe we can add a custom check wrapper for the whole library. I would prefer other checks to be in the library though.

[2015-02-01 12:08] Grawl commented on #18
Yep, I'm about exact this. Wrapper will be awesome for every developer.

[2015-02-01 20:32] RaitoBezarius commented on #4
[code]
@brnrd @arasatasaygin : Should be sufficient, I think? I've tested it over the most of the postcode you've listed on the Wikipedia page. (And I've added support for whitespace in order to make it more convenient : ASCN 1ZZ works like ASCN1ZZ).

[2015-02-01 22:50] arasatasaygin commented on #4
Thanks @RaitoBezarius
It works great. Updated it with this one.

[2015-02-01 22:50] #4 closed

[2015-02-02 20:23] alejandropaciotti opened #22 "How to use in node.js"
Could anyone tell me how to use this fantastic library in node.js?

When I using:
[code]
I get the error:
[code]

[2015-02-02 20:55] ryanguill commented on #22
see https://www.npmjs.com/package/is-js

add is-js to your package.json file and then ```npm install```.

[2015-02-02 21:11] arasatasaygin commented on #22
Hey @alejandropaciotti
You should require the module name, like this:
[code]
The package @ryanguill mentioned is not related to this repository.
This is the npm module I've published: https://www.npmjs.com/package/is_js

Sorry for the module name clutter. Unfortunately, the package name 'is' was taken.
Cheers.

[2015-02-02 21:13] #22 closed

[2015-02-02 23:38] alejandropaciotti commented on #22
Wow, I installed is-js and tested it seemed perfect, then read the following comment and noticed that are similar and not just in the name.

Anyway, thank you, has been very helpful and congratulations to the creator!

Excellent idea!

[2015-02-03 09:31] arasatasaygin commented on #22
Yeap Scotts' module looks great too. Thanks @alejandropaciotti

[2015-02-03 23:23] colindresj opened #23 "Suggestion: Rename setNamespace to noConflict"
It's fairly typical for methods that reset a library's namespace in order to avoid collision to be called `noConflict`. See [jQuery](https://github.com/jquery/jquery/blob/master/src/exports/global.js#L8]), [Underscore](https://github.com/jashkenas/underscore/blob/master/underscore.js#L1274), [Lodash](https://github.com/lodash/lodash/blob/master/lodash.js#L10154), [Bootstrap](https://github.com/twb

[2015-02-03 23:51] tbasse opened #24 "Tests for is.dayLightSavingTime() are location dependent"
All four `is.dayLightSavingTime()` tests are failing in Australia because the given dates in the tests do not correlate with our daylight saving times over here. Should be the same for all southern hemisphere countries.

http://en.wikipedia.org/wiki/Daylight_saving_time_by_country

[2015-02-04 10:34] AlexandreAWE opened #29 "Test is.ip"
It will be great if we can validate a IP adress

[2015-02-04 14:35] ihopepeace commented on #29
I will do that today.. Thanks for suggestion :)

[2015-02-04 15:59] chiefGui commented on #29
+1

[2015-02-04 22:38] ihopepeace commented on #29
I have created a pull request :)

[2015-02-04 23:33] AlexandreAWE commented on #29
Thank for this PR @ihopepeace :)

[2015-02-05 09:04] blacksonic commented on #10
@f initial solution might be an overkill, but modularizing based on groups would increase readability. That way files can be kept around max. 100-200 lines. Everything above it is huge. Not mentioning the test file, nearly 3k lines.

[2015-02-05 10:48] shashisp opened #32 "is.leapYear()?"

[2015-02-05 19:23] arasatasaygin commented on #29
Merged them. Thanks for all the hard work @ihopepeace

[2015-02-05 19:23] #29 closed

[2015-02-05 19:39] arasatasaygin commented on #32
Yeap, maybe.
Is this check help anyone? What do you think?

[2015-02-05 19:40] arasatasaygin commented on #24
Thanks for the heads up.
Have you got any fix for this issue?

[2015-02-05 19:44] ihopepeace commented on #24
@arasatasaygin I am working on it :)

[2015-02-05 19:45] arasatasaygin commented on #24
:) You are like a PR machine @ihopepeace
Thanks a lot. Cheers.

[2015-02-05 19:50] ihopepeace commented on #24
hehe :)

[2015-02-05 22:11] hamid6 commented on #32
Thanks Aras for this great lib.

Here is the leap year calculation taken from K&R's "The C programming language"

// is the given year a leap year?
is.leapYear = function(year) {
    return is.number(year) && ((year % 4 == 0 && year % 100 != 0) || year % 400 == 0);
};
// leapYear method does not support 'all' and 'any' interfaces
is.leapYear.api = ['not'];

[2015-02-05 22:24] bennyn opened #39 "Support version numbers for all browsers"
Hi, thanks for your great library!

I just read your documentation and found that you support checks for specific Internet Explorer versions with `is.ie(value:number)`. I was wondering why don't support the same thing for Firefox, Chrome, etc. like `is.chrome(value:number)`?

To be consistent and because it is helpful I suggest to add the version checks for all browsers as version checks become mo

[2015-02-05 22:28] bennyn opened #40 "is.chrome(value:number).orLater()"
In some of my projects I need to check if a browser has at least a specific version. It would be great if I could use `is.js` for that purpose.

So I would like to have a function that returns `true` if a browser version is greater than or equal to a given number. Like: `is.ie(8).orLater()`. Same goes for other browsers like Chrome, Firefox, etc.

[2015-02-06 02:27] vrunoa commented on #32
what about this implementation for getting leap year:

[code]

Which one do you think is better ?

[2015-02-06 03:35] vrunoa opened #42 "Checking file extensions?"
Hey @arasatasaygin what do you think about adding some methods to check file extensions?
like: ``` is.image``` ```is.pdf``` ```is.excel``` ```is.extension```

I'll implement ```is.image``` tomorrow

[2015-02-06 05:19] tbasse opened #43 "Under is not the opposite of Above"
First of all, excuse me in advance if I'm very picky here but the naming of the `is.above()` and `is.under()` methods are really bothering me. It really should be above/below or over/under but definitely not abover/under :)

Maybe just rename `is.under()` to `is.below()` and alias those methods to `is.over()` and `is.under()`.

Again, I might be very picky here but the current naming just looks ve

[2015-02-06 09:23] arasatasaygin commented on #43
Nope, you are noy picky @tbasse
My English just sucks. Thanks for the suggestion.

[2015-02-06 10:15] arasatasaygin opened #44 "Method name suggestions for version 1.0.0"
Some method names are not as good as it should be. (Thanks to my poor English)
However I don't want to change api so fast. So please list your suggestions on method names here for now:

@tbassse suggested here https://github.com/arasatasaygin/is.js/issues/43 :
`is.under()` > `is.below()`

@colindresj suggested here https://github.com/arasatasaygin/is.js/issues/23:
`is.setNamespace()` > `is.noConfl

[2015-02-06 10:16] arasatasaygin commented on #23
Thanks @colindresj
You are right. Listed this one here > https://github.com/arasatasaygin/is.js/issues/44

[2015-02-06 10:16] #23 closed

[2015-02-06 10:17] arasatasaygin commented on #43
Listed this suggestion here > https://github.com/arasatasaygin/is.js/issues/44
Thanks.

[2015-02-06 10:17] #43 closed

[2015-02-06 10:19] arasatasaygin commented on #42
Thanks @vrunoa
I think they can be handy. Can these checks help anyone beside me?

[2015-02-06 10:20] iruy opened #45 "Make is.dateString(value:any) match date with scores (and validate?)"
From my side I just added a new regex like:

to the regex list. Would it be possible to add validation for impossible date like 12/34/5678?

[2015-02-06 10:21] arasatasaygin commented on #39
Thanks @bennyn
I've implemented the most vital one for now nut as you said version support for other browsers can be very useful.

[2015-02-06 12:06] julienbrunuk commented on #42
Yes, definitely! How about also checking against a MIME Type?

[2015-02-06 14:04] colindresj commented on #23
:+1:

[2015-02-06 18:14] k3n opened #49 "IP Theft"
https://www.tdn.tn/webtech/js-micro-check-library/

All they did was zip your files up and offer them for download on their site.

[2015-02-06 19:13] arasatasaygin commented on #49
Thanks @k3n Contacted with them.
Actually I don't really mind the IP side of situation so much. Providing a static version of the library doesn't look like a healthy choice though.

[2015-02-06 19:13] #49 closed

[2015-02-06 19:22] arasatasaygin commented on #32
I found this specification about leap years:

In the Gregorian calendar 3 criteria must be taken into account to identify leap years:
- The year is evenly divisible by 4;
- If the year can be evenly divided by 100, it is NOT a leap year, unless;
- The year is also evenly divisible by 400. Then it is a leap year.

Implementation of @hamid6 seems pretty good. Would you like to send a PR about this i

[2015-02-06 19:32] vrunoa commented on #32
Testing times, @hamid6 implementation is much faster. I would go for that answer too.

[2015-02-07 01:55] vrunoa commented on #42
I made a first implementation to check image extension
[code]
[https://github.com/Urucas/is.js/blob/master/is.js#L798-L804](https://github.com/Urucas/is.js/blob/master/is.js#L798-L804)

What do you think?

[2015-02-07 09:58] hamid6 commented on #32
Thanks all, I'll make a PR.
Cheers

[2015-02-07 10:49] michele-prandina opened #50 "Is it possible to add it in angularjs?"
I wonder if it can be implemented in angular js eg:
[code]

[2015-02-07 13:27] leosilvano commented on #50
i guess you can, just create a module named isJS and load the script over there

[2015-02-07 13:36] arasatasaygin commented on #50
I'm not fluent in AngularJS but as @leosilvano said it seems possible.
Create a module. Then create your 'is' factory from exposed 'is' object to inject later on your controllers:
[code]
Let me know if you have any problems @michele-prandina
Cheers

[2015-02-08 20:01] omer-demir commented on #50
@michele-prandina in codepen i made demo for usage. Either you can create module for library or create service in your application module. It depends on your need.
http://codepen.io/omer-demir/pen/RNjYaW

or the code block is like

[code]

[2015-02-09 05:17] pducks32 commented on #44
You should use —> or something instead of > because that makes it look like `is.under()` is greater/better than `is.below()` and I was really confused for a minute.

[2015-02-09 05:46] umayr opened #56 "Implementation of is.undefined?"
Hello, there.

Is there a reason you used `value === void 0;` to check if value is undefined rather than `typeof value === 'undefined'`?

Thanks for the awesome library, btw.

[2015-02-09 07:37] omer-demir commented on #56
As far as i know using ```value===void 0;``` is more efficient than ```typeof value==='undefined'``` or ```value===undefined```

[2015-02-09 07:50] arasatasaygin commented on #44
:) edited

[2015-02-10 05:22] arasatasaygin commented on #56
:+1: @omer-demir
`undefined` is a permissible variable name, so you can assign a new value to it.
`void` takes any value and returns `undefined` always. It's a convention to give `0` for `void' though.

[2015-02-10 05:22] #56 closed

[2015-02-10 05:22] #50 closed

[2015-02-11 20:24] arasatasaygin commented on #32
Added by @hamid6 on https://github.com/arasatasaygin/is.js/pull/53

[2015-02-11 20:24] #32 closed

[2015-02-12 12:18] Guru107 commented on #44
Just a suggestion, If naming ```is.object()```  to  ```is.json()``` it gives more readability to the type. Or atleast providing an alias ```json``` would be great.

[2015-02-13 06:06] Guru107 opened #63 "Not working on IE 9 browser"
I tried using is.js in IE 9. But it seems to have an error in it.
![Error Screenshot] (https://raw.githubusercontent.com/Guru107/images/master/is_js_bug.png)

[2015-02-13 07:02] Guru107 commented on #63
I looked into the matter. The issue is caused because of the naming of 2 functions in the library. ```is.null()``` and ```is.function()``` . Since ```null and function``` are JavaScript keywords IE9 was throwing an error. <b>I renamed these two functions in my local copy  and its working fine</b>. The name change of these two functions can be taken up as suggested in Issue #44 .

[2015-02-13 07:46] arasatasaygin commented on #63
I've tested it on IE9, Win7 @Guru107
It seems fine. Is there anybody having the same issue?

[2015-02-13 07:54] satblip opened #65 "npm package?"
Hi,

Is there a npm package?

Thanks for this library!

Best regards,
Louis

[2015-02-13 08:00] arasatasaygin commented on #65
Yeap.
[code]

[2015-02-13 08:00] #65 closed

[2015-02-13 08:04] satblip commented on #65
love it!

Thanks!

[2015-02-13 08:38] arasatasaygin commented on #65
Cool  (⌐■_■)

[2015-02-13 09:11] Guru107 commented on #63
Hey @arasatasaygin. I figured out what was the issue. My IE had default document mode as Quirks Mode  http://en.wikipedia.org/wiki/Quirks_mode. I changed it to IE9 Standards now its working fine. However it won't work if I change it to IE7 or IE8 Standards (doesn't matter now i guess :smile: ).
![IE9 Standard](https://raw.githubusercontent.com/Guru107/images/master/is_js_quirks_mode.png)

[2015-02-13 09:25] Guru107 commented on #63
Hey @arasatasaygin  I found out what was the problem. My IE9 Document Mode was set to Quirks Mode (http://en.wikipedia.org/wiki/Quirks_mode) by default. I have changed it to IE9 Standards now its working fine . Any how it won't work on IE7 or IE8 (doesn't matter i guess! :smile: )
![IE9_Standards] (https://raw.githubusercontent.com/Guru107/images/master/is_js_ie9.png)

[2015-02-14 00:48] gurel commented on #12
You can add an is.inrange function and convert the date checks into timestamps for speed and memory improvements

[2015-02-14 04:14] chiefGui commented on #63
@Guru107 @arasatasaygin I think it's important to mention browser support.

[2015-02-14 17:39] Guru107 commented on #63
@arasatasaygin @chiefGui  Adding `<!DOCTYPE html>` would set the document mode to IE9 Standards by default on IE9 browser.Ignoring to add this would result in setting of Document Mode  as <a href="http://en.wikipedia.org/wiki/Quirks_mode">Quirks  Mode</a> by default resulting in an error.

[2015-02-15 11:19] njenia commented on #44
I would change `is.within(num, min, max)` to `is.between(num, min, max)`. I think that *between* is clearer.

[2015-02-15 11:43] njenia commented on #45
I think that score-delimited dates are not that common, hence it shouldn't be built-in to the library.
I saw that aras (the author) is planning to provide a way to add your RegExps to the lib on the fly (and not only replace existing ones like you can do today). #15
About the impossible date check - the dateString RegExp check does exactly what you are looking for :)

[2015-02-15 22:35] njenia commented on #40
I created a pull request #71 for this. Tell me what you think.

[2015-02-16 02:49] chenxianliang opened #72 "typeof NaN is 'number'"
// is a given value number?
    is.number = function(value) {
        return toString.call(value) === '[object Number]';
    };
   should be
    is.number = function(value) {
        return toString.call(value) === '[object Number]' && !isNaN(value);
    };
  ???

[2015-02-16 08:59] lipis commented on #40
+1

[2015-02-17 15:40] genediazjr opened #73 "make it JSHint friendly"
any chance we could make this jshint friendly? `is.function` will prompt usage of a reserved word.

[2015-02-18 01:07] rodrigok opened #74 "MeteorJS support"
What do you think about publish this awesome package into MeteorJS's ecosystem?

http://atmospherejs.com

[2015-02-19 10:20] Guru107 commented on #44
I would suggest to change the name of two functions ```is.function``` and ```is.null``` since they are JavaScript keywords. Something like ```is.typeFunction()``` and ```is.typeNull()``` or if someone can suggest some good and concise names that would be great.

[2015-02-19 11:16] arasatasaygin commented on #73
Notes on issue https://github.com/arasatasaygin/is.js/issues/44
Thanks @genediazjr

[2015-02-19 11:16] #73 closed

[2015-02-19 11:27] arasatasaygin commented on #72
Type of NaN is number.
What others think? Should we return false for NaN on this check?

Thanks @chenxianliang

[2015-02-19 11:37] arasatasaygin commented on #74
Why not? Is there any Meteor hackers beside @rodrigok here?
What do you think about atmosphere support?

[2015-02-19 15:19] pducks32 commented on #44
I agree the name isn't great, but I think it's tenseness is really straight forward and is kind of a theme of the library.

-Patrick Metcalfe

[2015-02-23 19:36] OguzhanE opened #77 "is.space - text is all white space characters"
i tried to check if a the given value is all white space characters.
is.space('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;') is currently returning false
i think, it should return true
or
implementation another new method  called `is.whitespace`

[2015-02-25 07:29] cfj commented on #72
`NaN` may technically be a number but I don't think it's in the spirit of the `is.number` function to return true on `NaN`.

[2015-02-25 07:44] limichange commented on #72
Don't need to change. Type of NaN is number.

[2015-02-25 07:46] Joshua-F commented on #72
I agree with @cfj. NaN stands for Not a Number so I say keep it how it is now.

[2015-02-25 15:34] cakuki commented on #72
@Joshua-F you do not agree with @cfj. Type of `NaN` is Number, and right now `is.number(NaN)` returns true.

:+1: for change, `is.number(NaN)` should return false.

[2015-02-25 21:52] Joshua-F commented on #72
@cakuki, he says he doesn't think it's in the spirit of the `is.number` function, which I agree with. But to clarify , `is.number(NaN)` should return false.

[2015-03-02 23:00] rodrigok commented on #74
:( seems that nobody use Meteor here

[2015-03-03 07:31] arasatasaygin commented on #72
Fixed with https://github.com/arasatasaygin/is.js/pull/79 from @jonhester
Thanks for all the feedbacks. This check returns false for NaN right now.

[2015-03-03 07:31] #72 closed

[2015-03-05 01:08] jonhester commented on #77
How about a new method named ```is.blank```?

[2015-03-05 12:45] arasatasaygin commented on #77
Yeap, the current implementation is returning false @OguzhanE
What others think about the expected behaviour of this check or a new check for this one?

[2015-03-05 18:59] jonhester commented on #77
@arasatasaygin ```is.space('      ')``` makes sense to me to return false since it's actually multiple spaces, and not just one. Changing it could cause problems for anyone currently using it to check for just a single space character.

[2015-03-05 21:19] slavajacobson opened #82 "is.mobile() not detecting Blackberry Z10 / Z30"
returning false

[2015-03-05 22:40] jonhester commented on #82
Looks like the user agent string changed for Blackberry 10 devices.

[2015-03-10 20:21] arasatasaygin commented on #82
Fixed by @jonhester
Thanks.

[2015-03-10 20:21] #82 closed

[2015-03-11 01:34] jonhester commented on #77
I updated the existing is.empty function to return true for strings composed of only white space. Thoughts?

[2015-03-11 08:49] cfenzo commented on #77
@jonhester well, `' '` is by definition not empty, it contains whitespace.
My vote is for a new check, `is.whitespace`, and leave both `is.space` and `is.empty` as is.

[2015-03-11 15:42] jonhester commented on #77
@cfenzo I agree. I'll submit a new pull request tonight.

[2015-03-16 13:52] bbak opened #90 "is.touchDevice(): possible improvement"
Hi, I've seen quite a few posts somewhere else including these checks:
|| (navigator.MaxTouchPoints > 0)
      || (navigator.msMaxTouchPoints > 0))

Like here: http://ctrlq.org/code/19616-detect-touch-screen-javascript
and here: https://coderwall.com/p/mqd6pw/detect-touchcapability-in-javascript

Should they be added?

[2015-03-17 15:39] jlabresh1 commented on #74
Please add to Meteor! (i just found this today, super cool library!)

[2015-03-17 23:13] paracycle commented on #44
I would like to see `is.all.xxx` being renamed to `is.every.xxx` because the first one isn't correct grammatically, it should be `are.all.xxx`. The second form works both grammatically and expresses intent clearly, IMHO.

[2015-03-17 23:21] pducks32 commented on #44
I disagree because in many other languages using all is standard so it maps nicely here. Plus it may not be grammatically correct but it is, I believe, more clear. I don’t know though; just my thought. [Python all](https://docs.python.org/2/library/functions.html <https://docs.python.org/2/library/functions.html>) and [Ruby's all?](http://ruby-doc.org/core-2.2.1/Enumerable.html#method-i-all-3F <ht

[2015-03-17 23:22] pducks32 commented on #44
I disagree because in many other languages using all is standard so it maps nicely here. Plus it may not be grammatically correct but it is, I believe, more clear. I don’t know though; just my thought. [Python all](https://docs.python.org/2/library/functions.html) and [Ruby's all?](http://ruby-doc.org/core-2.2.1/Enumerable.html#method-i-all-3F)

[2015-03-17 23:29] paracycle commented on #44
@pducks32 I am aware of those but none of those methods are trying to make grammatical sense.

Besides I could counter with [Underscore.js every](http://underscorejs.org/#every) and [LoDash's every](https://lodash.com/docs#every) (which is also aliased as `all`) and, finally, the [Javascript every](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/every).

So i

[2015-03-17 23:31] pducks32 commented on #44
Actually I agree. All of those are Js libraries so I actually like the mapping better.
So yea I support `every` 👍

[2015-03-19 18:37] thecotne opened #92 "feature request: setDate"

[2015-03-19 18:49] jonhester commented on #92
As is.js is a checks library, I'm not sure how this makes sense. What would this be used for?

[2015-03-19 18:59] thecotne commented on #92
for example is.past checks for date against current date
but what if i want to check against some other date
same for all date related functions

[2015-03-19 19:42] jonhester commented on #92
This still doesn't make sense to me since all the checks are currently static methods. You could just use ```is.inDateRange``` for special cases like what you mentioned.

[2015-03-20 13:35] alexisohayon opened #93 "Include not working with me?"
Your example of is.include is not working with me (Chrome 41).
![capture d ecran 2015-03-20 a 14 33 44](https://cloud.githubusercontent.com/assets/781456/6752378/430b49b8-cf0e-11e4-9c8d-430dfe5ac04b.png)

Any idea?

[2015-03-21 07:19] codemonkey800 commented on #93
I just ran the tests for the library and `is.include` and `is.not.include` fails for me. I'll try and take a look at it.

[2015-03-21 07:39] codemonkey800 commented on #93
Alrighty. The problem had to do with the `String.prototype.includes()` method from ES6 Strings. I removed it and hopefully it gets merged in.

[2015-03-21 09:56] arasatasaygin commented on #93
Fixed it thanks to @codemonkey800

[2015-03-21 09:56] #93 closed

[2015-03-21 10:06] arasatasaygin commented on #92
Hey @thecotne thanks for the feature request.
Can you share a code snippet and the case you want to use it? I couldn't understand the feature or maybe we can find a solution for your case with current methods like @jonhester mentioned.

[2015-03-21 10:37] alexisohayon commented on #93
Thx dude, very effective! :)

Envoyé de mon iPhone

[2015-03-22 05:38] didxga opened #97 ""is.sorted", isn't descending order considered sorted?"
The implementation of ```is.sorted``` return true only for array sorted in ascending order. I think for descending order, it should also returns true.

[2015-03-22 08:14] rclanan commented on #97
Submitted a pull request that will take care of this.

https://github.com/arasatasaygin/is.js/pull/98

[2015-03-24 14:26] jonrh opened #100 "Issue when requiring is.js with webpack"
Just came across a weird issue when trying to require [is.js](http://arasatasaygin.github.io/is.js/) when using the module bundler [webpack](http://webpack.github.io/). In JavaScript I do:

[code]

When using webpack this causes webpack to freak out and give an error message like this:

[code]

I'm not entirely sure where the fault is but I suspect it has something to do with is.js and AMD module

[2015-03-25 14:30] jaroslav-muller commented on #100
I'm having the issue as well.
What works for webpack is replacing line 8 with `define(['./is'], function(is) {`
(`['is']` replaced by a relative path `['./is']`).

This way webpack pretends to be a amd loader and work well. The old way tries to locate module 'is' in your modules path instead of simply getting file 'is.js' in current dir.

Another way to workaround it, is to add `'.'` to `resolve.m

[2015-03-25 14:44] jaroslav-muller commented on #100
Checking the UMD recommendation mentioned in e6c2b0ce3b98e5aaf9dd09a7099369c0eabdcc9c, I now believe that it was applied wrong. Their example https://github.com/umdjs/umd/blob/master/returnExportsGlobal.js, which seems to be basis of the implementation, shows how to create a module that depend on another module (b in their case).

The actual is_js implementation is like defining module 'is', which

[2015-03-26 19:32] fslone commented on #42
On this wouldn't you want the image extension regex check to be case insensitive?

[2015-03-26 23:02] eriklharper opened #104 "is.number(NaN) returning true"
Not sure why, but that is what is happening:

![image](https://cloud.githubusercontent.com/assets/821864/6858999/7074f382-d3d1-11e4-8703-8bbfe5b681ad.png)

Running 0.4.0 of is_js

[2015-03-26 23:29] vrunoa commented on #42
Yeah @fslone , good point, I miss this. This weekend i'll make an update.

[2015-03-27 02:44] fslone commented on #42
@vrunoa No need, I already made it case insensitive in my forked repo and fixed a few other typos so I'll submit a pull request tomorrow. I've also added ~150 is.extension methods to check various file types like is.extension.doc, is.extension.xls, etc. Do you think this would be something worth submitting a pull request for? If so I'll include that in my request as well.

[2015-03-27 05:23] didxga commented on #104
Hi @eriklharper, I think this has been fixed. Please check the latest version.

[2015-03-27 13:22] fslone commented on #104
@didxga I verified that it isn't fixed in 0.4.0. The problem is that when you pass this in:

[code]

The method converts the value to a string and checks whether it's part of the number object:

[code]

Because NaN is a property of the Number object, NaN is returning true. The solution would be to make the test more robust to prevent this:

[code]

[2015-03-27 14:12] jonhester commented on #104
https://github.com/arasatasaygin/is.js/issues/72 I actually fixed this last month.
[code]
It was decided that even though javascript considers NaN a number still it goes against the point of the check so it now returns false for NaN.

[2015-03-29 01:37] sporto commented on #100
Same issue here

[2015-03-30 15:13] marqu3z opened #106 "is.url does not accept valid characters (?, +, %) and allow white spaces"
[code]

Is this a desired behaviour?

[2015-03-30 16:24] fslone commented on #106
I'd like to see this fixed as well. I personally use the regex from @dperini for URL's but that returns false for any URL not prefixed with http/https/ftp so it would change the behavior of the library slightly. You can see that regex here:

https://gist.github.com/dperini/729294

If everyone would be in favor of using that regex I can make the change and write the test cases. Just let me know.

[2015-03-30 16:32] marqu3z commented on #106
I was looking at the same gist.
The author made a comparison table here: https://mathiasbynens.be/demo/url-regex

[2015-03-30 16:35] fslone commented on #106
yeah that's where I got it from :P

[2015-03-30 18:48] dperini commented on #106
@fslone,
if there is no need to validate the protocol scheme (http/https/ftp) remove the following part:

    // protocol identifier
    "(?:(?:https?|ftp)://)" +
if there is no need to validate user/password (user:pass) remove the following part:

    // user:pass authentication
    "(?:\\S+(?::\\S*)?@)?" +

the entire IPV4 part could also be removed to shorten the regex and make it more efficien

[2015-03-30 18:56] dperini commented on #106
@fslone,
the protocol part could also be made optional instead of removing it:

    // protocol identifier
    "(?:(?:https?|ftp)://)?" +
by just adding a question mark after the grouping parenthesis.

[2015-03-30 19:09] fslone commented on #106
@dperini thanks, you're the man. I'm going to make a few changes to the regex like Diego has recommended and I'll submit a pull request for this change shortly.

[2015-03-31 15:18] davidmerrique commented on #100
@jonrh @jaroslav-muller @sporto Take a look here for a workaround https://github.com/arasatasaygin/is.js/pull/41

[code]

[2015-04-01 11:25] jonrh commented on #100
@davidmerrique Thanx! Do you know if there could be any side effects from this workaround by doing this AMD exclusion?

[2015-04-01 11:33] callicles opened #113 "Make is.js compatible with 'use strict'"
The library is not using 'use strict' at the moment. As a consequence it breaks when concatenated with strict mode code. It could be nice to make it compatible, they are not many triggered errors (1)

[line 28](https://github.com/arasatasaygin/is.js/blob/7eb5cda78b4d08ec647ddd43b8eed8f74be18275/is.js#L28)
[code]
should become something like:

[code]

[2015-04-01 18:58] eriklharper opened #115 "is.ie() returning false in Internet Explorer 11"
![is_ie returning false in ie11](https://cloud.githubusercontent.com/assets/821864/6948990/7203ede0-d866-11e4-9e0b-d59f9f002c00.jpg)

[2015-04-01 19:11] eriklharper commented on #115
was able to detect IE 11 with this: `(window.ActiveXObject) && "ActiveXObject" in window` from here: http://stackoverflow.com/questions/21825157/internet-explorer-11-detection

[2015-04-03 02:46] dfguo commented on #100
+1 on this issue

[2015-04-03 07:38] #92 closed

[2015-04-03 14:38] davidmerrique commented on #100
@jonrh I don't think so, unless you're somehow requiring a package that's only AMD.

[2015-04-07 08:17] Semigradsky commented on #100
Same issue. @davidmerrique workaround broke me React but this chnages helped me:
[code]

[2015-04-07 17:57] rubenspgcavalcante commented on #100
I'm having a building error because of that. :/
Because of the line 8, when running amd-optmizer, gives a error:
'Circular dependency detected. Module 'is' has been processed before.'
It's because when it is optmized the module 'is' requires itself as dependencie. Only works if removing the 'is' dependencie of it
`javascript
define(['is'], function(is) {
`
to
`javascript
define([], function() {
`

[2015-04-11 19:42] cmpolis opened #120 "Support for `is.browser`, `is.node`? (Will put in pr if there is)"
This environment check is somewhat common in my codebases and I would imagine in other projects with browserify/isomorphic bits. Any opinions on `is.browser()` and `is.node()`?

Love this library - thanks everyone!

[2015-04-16 00:50] daleeidd commented on #44
@Guru107 I would like to propose amending the suggestion from renaming to aliasing since using reserved words as property names is only invalid in ES3. https://kangax.github.io/compat-table/es5/

[2015-04-16 08:48] xumx commented on #74
I will give it a shot.

[2015-04-16 12:57] rodrigok commented on #74
I can help you if you need

[2015-04-20 08:33] codemonkey800 commented on #120
One way we could add a check like this is to do a check for global variables that are particular to a browser and node, like `window` for browsers and `module` for node.

I really like the check used in Underscore.js as stated in this [StackOverflow Question](http://goo.gl/ypkwMU). I'd do a pull request, but I'm not sure how I'd add a unit test for checking the browser. If anyone can do that, this

[2015-04-23 10:05] xumx commented on #74
I've published it to
https://atmospherejs.com/isjs/is

To make it automatically rebuild when is.js updates to a new version. I neeed @arasatasaygin  to add a webhook to this repository
[Here is the guide](https://github.com/MeteorPackaging/autopublish.meteor.com/wiki/How-to-manually-set-up-web-hooks)

[2015-04-29 05:53] searchworld opened #121 "while use is.not.url() to match the following url, the page can't response"
The url is "http://v.example.com/v_show/id_XOTM1MzA5NjA4.html?from=y1.2-2.4.2-1"
It seems taking too long to match. One core of CPU is running fully.
Dose it a bug?
At last I use:
https://github.com/fslone/is.js/commit/30a89e7e5ca6b3c4cf99555a27605d8606888312

[2015-05-03 15:48] thetutlage opened #122 "decimal rule failed"
Indicative makes use to is.js in some rules and decimal rule fails at certain point.

Here is a reference to same
https://github.com/AdonisJs/indicative/issues/2

Also

[code]

[2015-05-04 03:41] eriklharper commented on #100
+1 for me as well.  I was able to get this to work also by changing the AMD dependency `is` to `is_js' like so:

[code]

[2015-05-04 03:45] eriklharper commented on #100
https://github.com/arasatasaygin/is.js/issues/100#issuecomment-90454300 > This also worked for me as well

[2015-05-09 04:15] thetutlage commented on #122
Any Updates

[2015-05-09 10:07] arasatasaygin commented on #122
Hey @thetutlage thanks for the heads up.
Isn't this the wanted behaviour or the nature of the language? When you wrote '10.0' to the browser console, it casts it to the '10' instead of '10.0'

[2015-05-09 10:29] arasatasaygin commented on #121
I think. Same link take too much time to match in my machine too @searchworld
Thanks. I'll look for the cause.

[2015-05-10 11:23] lc60005457 opened #125 "why is.js require itself"
why is.js require itself.

    if(typeof define === 'function' && define.amd) {
        // AMD. Register as an anonymous module.
        define(['is'], function(is) {
            // Also create a global in case some scripts
            // that are loaded still are looking for
            // a global even when an AMD loader is in use.
            return (root.is = factory(is));
        });
    } el

[2015-05-10 21:12] ryantemple commented on #115
have just updated pull request #80 to include this fix - can separate it out if needs be.

[2015-05-12 06:12] #122 closed

[2015-05-13 21:32] dereklin opened #127 "Accept String Input for number check?"
I want to check if a string is in integer or decimal format, is there a way to do this using is.js?

I am using jQuery first:

      if (jQuery.isNumeric(input)) {
        input = Number(input);
      }

And then use is.js:

      if (is.integer(input)) {
        ...
      } else if (is.decimal(input)) {
        ...
      }

[2015-05-14 07:57] arasatasaygin commented on #127
Your approach is right.
is.js is not casting types. The 'is.decimal' or 'is.integer' checks the parameters type first and returns appropriate result if parameter is number.

[2015-05-14 07:57] #127 closed

[2015-05-14 08:36] havenchyk opened #128 "Clarify isNull checking"
Hi,

Is there any reason to check the second expression here https://github.com/arasatasaygin/is.js/blob/master/is.js#L128?

[code]

Could anyone clarify, why is it needed ` toString.call(value) === '[object Null]`?
@arasatasaygin

[2015-05-14 11:50] cades opened #129 "feature request: is in webview"
as title

[2015-05-15 18:35] rubenspgcavalcante commented on #125
Related to https://github.com/arasatasaygin/is.js/issues/100, problems with circular dependency

[2015-05-15 21:32] necolas commented on #100
@arasatasaygin do you have any collaborators that could help you resolve this issue?

[2015-05-16 13:00] inad9300 opened #130 "Environment checks "inconsistency""
Hi,

I was taking a look at the environment checks section of the library, and I've notice that you are lower-casing the User Agent. However, later you perform regexp tests ignoring the case (using the `i` option), and even not ignoring the case and using uppercase letters, as in the case of Opera, which indeed doesn't work.

Perhaps an easier way to test the browser is just the one in here (which

[2015-05-16 14:08] inad9300 opened #131 "Ubuntu not being recognized as Linux"
Hi,

I think the OS needs some more checks to be determined accurately. In this particular case I've found that Ubuntu is not recognized as a GNU/Linux OS. The `navigator.appVersion` value is `"5.0 (X11)"`. Typical scripts that perform this task include a forth check to determine if the OS is Unix-like. You can see an example here: http://www.javascripter.net/faq/operatin.htm

[2015-05-18 03:07] arasatasaygin opened #132 "Revise implementation of module system"
Current implementation has some issues:
https://github.com/arasatasaygin/is.js/issues/100
https://github.com/arasatasaygin/is.js/issues/125

[2015-05-18 03:10] arasatasaygin commented on #100
@necolas Nope, there is no PR for this one, and it effects a lot of people I guess.
Opened an issue https://github.com/arasatasaygin/is.js/issues/132

[2015-05-20 08:48] havenchyk commented on #128
@arasatasaygin I can make PR and remove this line. Could you just say, why this check is needed?

[2015-05-20 09:24] arasatasaygin commented on #128
I think it's ok to delete that part, like you said @havenchyk
Waiting for the PR. Cheers.

[2015-05-20 09:26] havenchyk commented on #128
@arasatasaygin great, I will, thanks for response. But what was the purpose to add this line? is it just copy/paste issue or something else?

[2015-05-20 09:38] arasatasaygin commented on #128
Probably I thought the difference between null and
[code]
But it doesn't make sense because stringified version of nullObject is [object Object] as well.

[2015-05-22 18:47] fslone commented on #121
I think pulling in #106 would fix a lot of these problems that keep popping up for the url regex

[2015-05-22 20:20] #128 closed

[2015-05-22 20:37] arasatasaygin commented on #121
:+1: @fslone thanks again

[2015-05-22 20:37] #121 closed

[2015-05-22 20:37] #106 closed

[2015-05-26 11:52] rostacik opened #137 "NuGet package"
dear sir,
have you considered creating NuGet package for your library? it would be really helpful for .NET part of the world.

thx :+1: ,
d

[2015-06-04 15:35] chiefGui commented on #100
You all seems to be using AMD with Webpack and experiencing this issue. I am using CommonJS (Webpack) and also experiencing it—seems it doesn't belongs only to AMD users. Just registering. :-)

[2015-06-08 21:15] ryantemple commented on #132
#138 hopefully fixes this

[2015-06-30 03:55] ouchxp commented on #15
+1

[2015-06-30 06:24] hjzheng opened #140 "Can you support is.RetinaDisplay() ?"

[2015-06-30 09:23] ralphievolt opened #141 "Object Empty Function Needed"
I want to  check if my object like below is empty or not. How to do this using is.js?

is.ObjectEmpty({this: 'is', 'sample': 'test'});
=> false

is.ObjectEmpty({this: ' ', 'sample': ' '});
=> true

[2015-07-02 22:43] h2non opened #142 "Checker for plain objects"
Instead of `is.object()`, it could be `is.plainObject()`. Useful when checking raw JavaScript objects which it's first prototype inherited chain is equal to `Object.prototype` and it's constructor is `Object`.

Here it is the implementation in lodash:
https://github.com/lodash/lodash/blob/3.10.0/lodash.src.js#L9076

[2015-07-02 22:51] ouchxp commented on #24
Still not able to pass the time in New Zealand

[2015-07-08 17:33] fslone commented on #140
I'd be happy to write the support for this for you if there were some indication that @arasatasaygin would pull it in but I'm not sure if he's maintaining this project anymore.

[2015-07-10 08:36] ekaradon commented on #104
Could you please also change then the return of is.nan?
Today, is.nan(null) return false, which means that null is considered as a number by the language. It is because javascript evaluated everything false as "0".
So you will always have values considered as number through NaN() when it is null, false or empty string.
I think the library is should remove this inconsistency from the language.

[2015-07-21 10:32] mato75 opened #145 "is.opera"
returns false, when used with opera browser.

[2015-07-28 12:51] oglen opened #146 "requirejs include issue"
is.js:line;8:
define(['is'], function(is) {

when lead to “Error: Circular dependency detected. Module 'is' has been processed before.”

the right code:
define('is', [], function (is) {

[2015-08-06 05:28] hjzheng opened #147 "Can you support customize build and download for is.js ?"
Can you support customize build and download for is.js, for example, I can choose some function that I need. just like  http://getbootstrap.com/customize/

[2015-09-02 18:49] rtoal opened #150 "MIssing is.symbol"
Let's add some ES2015 features.

[2015-09-07 02:28] reacher-lu opened #151 "is.hexColor(213) returning true"
just like

[code]
isn't color values ,but returning true.

[2015-09-12 20:37] FelisPhasma commented on #145
Try something like this:
[code]

[2015-09-23 01:05] kfei opened #153 "Support for is.retina()"
Is it make sense to add an API to indicate retina support?

There is a retina-related [discussion](http://stackoverflow.com/a/20413768/2504317) on StackOverflow.

[2015-09-23 03:08] hjzheng commented on #140
Please check issue #153

[2015-09-23 03:08] #140 closed

[2015-09-23 09:10] ApfelUser commented on #153
+1

[2015-09-25 03:01] reacher-lu opened #154 "is.url"
[code]

[2015-10-09 15:08] kyletheninja opened #155 "Way to use any and all with parameter accepting checks - Especially numeric."
I see how it could complicate things to let checks that accept extra parameters use any and all.

However I think it would be really useful to say things like,

is.any.under([33, 45, 67], 50);
=>return true
is.all.under([33, 45, 67], 50);
=>return false

I think it would make the numeric checks much more useful.

[2015-10-11 09:47] thetutlage opened #156 "ip address validation not working"
Ip address validation passes for any given letter

[code]

[2015-10-18 12:23] planttheidea commented on #153
I don't think @arasatasaygin is maintaining this project anymore, nor has there been any activity on the account since May. I have forked the project and have rebranded it as [isit.js](https://github.com/planttheidea/isit.js) ... you'd be surprised how many "is" variants exist on NPM. I have included isit.retina() as a method, using the second answer on the SO post you reference as the function ba

[2015-10-18 12:25] planttheidea commented on #150
I don't think @arasatasaygin is maintaining this project anymore, nor has there been any activity on the account since May. I have forked the project and have rebranded it as isit.js ... you'd be surprised how many "is" variants exist on NPM. I have included isit.symbol(obj) as a method, using the second answer on the SO post you reference as the function basis.

Feel free to try it out if you'd l

[2015-10-18 12:26] planttheidea commented on #145
I don't think @arasatasaygin is maintaining this project anymore, nor has there been any activity on the account since May. I have forked the project and have rebranded it as isit.js ... you'd be surprised how many "is" variants exist on NPM. I have updated the checker for Opera based on the [MDN documentation](https://developer.mozilla.org/en-US/docs/Browser_detection_using_the_user_agent).

Feel

[2015-10-18 21:20] arasatasaygin commented on #153
Cool @planttheidea have fun with it.
I'll be busy for a while and get back to this repo as of January 2016. I'll definitely check your changes and improvements.
Cheers

[2015-10-18 21:22] arasatasaygin commented on #150
Cool @planttheidea have fun with it.
I'll be busy for a while and get back to this repo as of January 2016. I'll definitely check your changes and improvements.
Cheers

[2015-10-25 21:52] ryantemple commented on #156
The regex for this seems to have been taken from this StackOverflow question:

http://stackoverflow.com/questions/23483855/javascript-regex-to-validate-ipv4-and-ipv6-address-no-hostnames

which itself appears to have come from a textbook. I'd suggest what needs to happen is the code for IP just runs the checks for IPv4 and IPv6 although I don't know if the performance may suffer as a result.  I mi

[2015-10-25 22:13] ryantemple commented on #156
Worth mentioning that the IPv6 validation has the same bug

[2015-10-26 11:08] ryantemple commented on #156
I've added an explicit test for this in the PR.  You may want to fork your own version to incorporate this fix

[2015-10-26 11:25] thetutlage commented on #156
Okay, let me check this

[2015-10-28 12:25] devcem commented on #154
That's not issue i think, you can understand google.com?id=111 is a URL, but program can't sure is that a parameter or URL. Last one is not okay, it has to be false already, there nothing wrong with it. And first one is not like a URL because there is not URL method which is start with //, it has to be ://.

[2015-11-03 05:45] mydearxym opened #158 "es6 import ?"
[code]
cause error , any idea ?

[2015-11-03 07:41] tiansh commented on #154
[code]

[2015-11-03 19:54] ilkerkorkut commented on #154
is.url('foooo.foooo');  // true
Is this reasonable ?

I think it needs some limitations to determine url(may be more generic urls(about 100 tlds) can be add on regex rule, it seems there is over 350 custom like'.codes','.computer' tlds can be igrored). Of course intranet domains may be like that, but not useful while using unknown strings to check whether domain or not.

[2015-11-08 19:25] shinzui opened #160 "Abandoned?"
Is there any chance to make [JerryCauser's](https://github.com/JerryCauser/is.js) fork the official repo? It seems that this repo is abandoned.

[2015-11-10 19:34] arasatasaygin commented on #160
Hey @shinzui ,
Thanks for your interest and sorry for the absence. I'll be back to this project fulltime as of January 2016 and definitely check forks and improvements.
Cheers.

[2015-11-10 19:34] #160 closed

[2015-11-11 01:36] cafe4it commented on #154
[code]

[2015-11-11 15:50] stgogm commented on #145
This works fine for newer versions of Opera:

[code]

[2015-11-18 18:57] Nicolab commented on #158
+1

[2015-11-23 19:29] austinmao commented on #158
+1

[2015-11-25 23:21] fslone commented on #160
@arasatasaygin definitely let me know when you're back to this project, submitted a couple PR's and would like to help out more when it's back running

[2015-11-27 11:34] arasatasaygin commented on #160
Appreciate it @fslone Definitely I'll let you know.

[2015-12-04 10:05] zircuitz opened #161 "is.edge() support?"
Could we have a new function to check if the browser is Microsoft Edge?

[2015-12-13 02:06] xergioalex opened #163 "[Feature request] Include good regex for urls by default"
Hello, i think that will be awesome if is.js can include a good regex for validate urls, this is the best regex that i found.

https://mathiasbynens.be/demo/url-regex

[code]

[2015-12-28 18:13] andre487 commented on #113
There is a reliable way to get the global object: https://gist.github.com/rauschma/1bff02da66472f555c75 It works even in workers.

[2015-12-28 18:21] andre487 opened #165 "Maybe add linters to the project?"
Linters can be used for making code better and more beautiful. For example it can be: [ESLint](https://github.com/eslint/eslint) or [JSHint](https://github.com/jshint/jshint) for reporting code errors and issues and [JSCS](https://github.com/jscs-dev/node-jscs) for codestyle.

It can be placed in pre-commit hook with packages like [git-hooks.js](https://github.com/tarmolov/git-hooks-js)

[2016-01-01 15:46] kinday commented on #151
This happens because it is a valid shorthand color value without `#`.

`213` → `#221133`
`'123'` → `#112233`

You can read about [shorthand hexademical form](https://en.wikipedia.org/wiki/Web_colors#Shorthand_hexadecimal_form) at Wikipedia

@arasatasaygin, looks like you may close this issue.

[2016-01-02 15:10] ironmaniiith commented on #161
Added
Check here #166

[2016-01-02 15:44] ironmaniiith commented on #104
If NaN returns false, that does not mean that it has to be a number.
NaN in javascript is a predefined keyword, which is neither equal to null, nor undefined and not even itself (yes..!!). But still, it is a number.
Hence it is correct if is.nan returns false for null.

[code]

Also NaN will "only" return true when the argument passed is not equal to itself (to keep it simple, when NaN is passed a

[2016-01-02 15:47] ironmaniiith commented on #104
@ekaradon

If is.nan returns false on something, that does not mean that it has to be a number.
NaN in javascript is a predefined keyword, which is neither equal to null, nor undefined and not even itself (yes..!!). But still, it is a number.
Hence it is correct if is.nan returns false for null.

[code]

Also is.nan will "only" return true when the argument passed is not equal to itself (to keep i

[2016-01-02 21:06] ironmaniiith commented on #132
@arasatasaygin
When will you be back on this project. It seems quite interesting to me and I want to contribute in it.
Thanks.

[2016-01-03 11:05] arasatasaygin commented on #132
Hey :)
Thanks for the support and patience. Closing this one thanks ti @ryantemple

[2016-01-03 11:05] #132 closed

[2016-01-03 11:06] arasatasaygin commented on #125
This issue is resolved with https://github.com/arasatasaygin/is.js/pull/138

[2016-01-03 11:06] #125 closed

[2016-01-03 11:07] arasatasaygin commented on #100
This is fixed with https://github.com/arasatasaygin/is.js/pull/138
Thanks for patience and all the help.

[2016-01-03 11:07] #100 closed

[2016-01-03 20:21] kinday commented on #165
ESLint is modular, thus it handles code style perfectly. Also [husky](https://github.com/typicode/husky) is simpler to use.

[2016-01-03 20:31] kinday commented on #158
I can’t reproduce it. Could someone provide repo with test case if this issue still exists?

[2016-01-04 03:02] jonrh commented on #100
Thanks @arasatasaygin, @ryantemple, and others for your work, excellent job!

[2016-01-04 13:13] arasatasaygin opened #168 "Fix odd check for non-integer values"

[2016-01-04 13:33] #168 closed

[2016-01-04 14:15] arasatasaygin commented on #146
Thanks @oglen
This issue is resolved by https://github.com/arasatasaygin/is.js/pull/138

[2016-01-04 14:15] #146 closed

[2016-01-04 14:21] arasatasaygin commented on #137
Hey @rostacik
Thanks for your interest and sorry for the late response. Right now, this library is on npm and bower and I'm not planning any other package manager. But of course you can fork, maintain your own copy and publish to your community.
Cheers.

[2016-01-04 14:21] #137 closed

[2016-01-08 17:11] alexbaumgertner commented on #158
@kinday I made one https://github.com/alexbaumgertner/is-es6-error
But... it not reproduced :persevere:

[2016-01-08 18:24] kinday commented on #158
M’kay... I tried my best and I can’t reproduce this one neither with Node v0.12 nor babel v5.

@arasatasaygin, seems like this one need to be closed until anyone deliver test case or description of how to reproduce a problem.

[2016-01-08 18:28] alexbaumgertner commented on #158
@mydearxym @Nicolab @austinmao can you reproduce the bug?
I tried https://github.com/arasatasaygin/is.js/issues/158#issuecomment-170060187 but seems like bug was gone...

[2016-01-10 03:40] austinmao commented on #158
I will try this weekend and update this thread.

[2016-01-13 17:39] alexbaumgertner commented on #158
@austinmao did you reproduce the bug?
I tried https://github.com/alexbaumgertner/is-es6-error but seems it's all ok.

[2016-01-13 18:01] austinmao commented on #158
@alexbaumgertner Sorry for the late reply. I have just tested it and do not see this error anymore.

[2016-01-13 18:19] alexbaumgertner commented on #158
@austinmao thanks!

@mydearxym seems like problem is gone.
Could you close the issue please?

[2016-01-13 22:24] mydearxym commented on #158
@austinmao  sorry for my delay, it:s not issue anymore ..

[2016-01-13 22:24] #158 closed

[2016-01-14 18:33] arasatasaygin commented on #161
Thanks @ironmaniiith Merged it.

[2016-01-14 18:33] #161 closed

[2016-01-15 05:08] sergeyt commented on #154
consider to use below regexp created by Steven Levithan:

[code]

[2016-01-15 10:22] ironmaniiith commented on #141
You can add this lines in the file is.js to accomplish this task.

[code]

[2016-01-15 13:54] ironmaniiith opened #170 "Bug in is.startWith() and is.endWith();"
[code]

[code]
```is.endWith``` bug is due to the following line.
[code]
as ```str.indexOf(endWith)``` returns 2 (the first occurrence of 'l').

[2016-01-15 14:00] ironmaniiith commented on #170
I see two implementations for this.

[code]

OR

``javascript
is.endWith() = function(str, endWith){
    return is.startWith(str.split('').reverse().join(''), endWith.split('').reverse().join(''));
[code]

[2016-01-15 14:20] ironmaniiith commented on #170
is.startWith() bug fix.
#171

[2016-01-20 22:05] raphaklaus opened #172 "[Suggestion] Separate country validators from is.js"
Hello! First things first. I'd like to congratulate the team behind is.js, the library seems to be very consistent!

However, methods like ``is.caPostalCode`` are specific for countries. I guess with the growth of the library,could exist other useful methods like that, but for a developer from Italy, in 99% of cases it's not useful and is a weight more.

I suggest break this into specific cultural

[2016-01-21 14:28] friedemannsommer commented on #172
+1

[2016-01-23 22:11] raphaelduartepinheiro commented on #147
#172 I suggest something familiar

[2016-02-02 07:11] cenkingunlugu opened #173 "Mobile IOS Browsers conflict."
If you use is.safari() on ios chrome, it returns true.

[2016-02-03 03:09] felipedrumond opened #174 "There should be is.before(date, date) and is.after(date, date) functions."
Although this is easy to check, 'is' could have these functions to make javascript more readable.

[2016-02-03 23:31] arasatasaygin commented on #174
Hey @felipedrumond
Thanks for the suggestion. You can compare native date objects like:
[code]
I think this is a more natural check, so I'm not planning to add these checks for this time.
Cheers

[2016-02-03 23:31] #174 closed

[2016-02-13 16:06] ironmaniiith commented on #170
@arasatasaygin , are you still maintaining the code.?

[2016-02-14 03:42] #42 closed

[2016-02-15 22:22] Anaphase opened #175 "Add 0.8.0 tag for Bower"
No tag has been pushed for v0.8.0 so it cannot be installed via Bower at this moment. Not sure if that's intentional or what?

[2016-02-16 04:53] gabbaca opened #176 "is.palindrome bug"
The is.palindrome function is not working on all strings.  For example, the following string would work "madam" but this string would not "a santa at nasa".  Since you are just reversing the string and doing a comparison.

To fix this, one option would be to remove certain characters such as spaces and then do a comparison to that string:
// check if string
if(is.not.string(str)) { return false; }

[2016-02-16 14:18] fslone commented on #176
@arasatasaygin are you planning on merging pull requests anytime soon? If so I'll take care of this and some of the other bugs

[2016-02-16 15:25] gabbaca commented on #176
Thanks @fslone

[2016-02-16 20:49] fslone commented on #176
@gabbaca The only problem is I don't think this is still being maintained.

[2016-02-17 07:39] ironmaniiith commented on #176
@arasatasaygin , I think it would be good if you can give merging rights to some of the people are who really interested to take this project forward in case if you are not able to give time to this. What say.?

[2016-02-17 14:23] fslone commented on #176
Agreed

[2016-02-28 20:01] ironmaniiith commented on #176
@arasatasaygin , can you give a rough idea when will you be back to this project.?

[2016-03-03 04:31] tedshd opened #177 "is.array is not work in IE8"
is.array is not work in IE8
But i find solution
is.array = Array.isArray || function(value) {    // check native isArray first
  return Object.prototype.toString.call(value) === '[object Array]';
};

[2016-03-05 09:32] LancelotLewis opened #178 "Missing is.addRegexp"
We should add a function as is.addRegexp:
is.addRegexp(value:RegExp, regexpString)

[2016-03-10 15:48] ironmaniiith opened #182 "Bug in is.future"
Following is the detail of the bug.

[code]

The bug is due to the following implementation of is.future in is.js:
[code]

Which needs to be changed (As not of is.past implies either present or future)

[2016-03-10 15:54] ironmaniiith opened #183 "Improvement in is.propertyCount"
This is the current implementation of is.propertyCount:
[code]

The problem lies with line number [731](https://github.com/arasatasaygin/is.js/blob/master/is.js#L731)

Instead of defining a new array and pushing elements to it, we can just have a variable which keeps track of the length of elements so far...

Following changes can make the code much more efficient.

[code]

[2016-03-11 19:05] jt3k opened #184 "Why is this project dead?"
Where is the owner, why not accept pullrequests?
Select a trusted person and give him rights to manage this project.

[2016-03-11 21:44] ironmaniiith commented on #184
@arasatasaygin , I guess its a good project and a good number of people are using it.
It would be really nice if you can make it active or give someone merging rights.

[2016-03-12 08:50] youngwind opened #185 "How about the browser compatibility?"
hi, I have read the document but did not find any declaration about the browser support.
Does anybody know that?

[2016-03-12 10:18] arasatasaygin opened #186 "About the state of this project and an apology"
Hey,
First of all, sorry for the absence and the inconvenience caused to you people. I mean it!
I'm right now on a SE Asia trip and not actively coding. So, I'm contacting with some friends (of friends) who I trust about collaboration opportunities. If this doesn't work out, I'll try to contact with contributors as well.
Thank you for the patience, interest and your heart.

Cheers
(⌐■_■)

[2016-03-12 10:19] arasatasaygin commented on #184
Hey thanks for your interest. I'm on it https://github.com/arasatasaygin/is.js/issues/186

[2016-03-12 10:19] #184 closed

[2016-03-12 12:12] ironmaniiith commented on #186
Thanks @arasatasaygin
If you are unable to contact some people who are willing to maintain the code, I would be more than happy to help you out.
Thanks.

[2016-03-14 10:20] frugalcoder commented on #176
@gabbaca

I don't think we should. Palindrome should work the way it's working now. Why should we treat some characters differently for generic situations?

[2016-03-14 15:49] ironmaniiith commented on #176
@frugalcoder .
This paragraph from wikipedia suggests that we should.
https://en.wikipedia.org/wiki/Palindrome#Sentences_and_phrases

[2016-03-14 17:37] frugalcoder commented on #176
Oh. Didn't know that. I guess it is required then.
If nobody is working on this, then I can fix this issue.

[2016-03-14 17:44] ironmaniiith commented on #176
You can try but the author, @arasatasaygin is busy right now. Once the project is live again, we can start the contribution.
In the meanwhile you can work your own improvement branch [like this](https://github.com/ironmaniiith/is.js/tree/improvement), which can help later on if you are really interested :smile: .

[2016-03-16 23:48] thecneu opened #188 "Nexus 9 is not reporting as a tablet"
Nexus 9 not returning true for is.tablet

[2016-03-24 19:15] soliton4 opened #189 "worker threads"
hi,
great toolset!

did you consider supporting web workers?
within the worker there is no window object. i tried to replace it with self but the detection of internet explorer for example doesnt work.

[2016-03-24 19:27] jt3k commented on #189
project abandoned.
The creators do not have time to develop "is.js"

[2016-03-24 21:25] soliton4 commented on #189
would it be ok to do a pr?
are you maintaining is.js?

[2016-03-24 21:37] jt3k commented on #189
many pr is not accepted for a long time :(

i am not a maintainer.

this man is a maintainer https://github.com/arasatasaygin/is.js/issues/186

[2016-03-26 03:37] ironmaniiith commented on #186
@arasatasaygin , were you able to find anyone for maintaining is.js, I guess contributors are losing hope with this project, is this the end.?

[2016-04-06 11:20] planttheidea commented on #186
@arasatasaygin, I volunteer my services as well. I'm already maintaining a library based on this ([isit.js](https://github.com/planttheidea/isit.js)) with various bugfixes, additional checkers, and code coverage with full unit testing. I'm happy to help out however I can.

[2016-04-10 17:55] #188 closed

[2016-04-17 09:58] planttheidea commented on #189
@jt3k if you submit me a PR in [isit.js](https://github.com/planttheidea/isit.js) I can likely incorporate it there.

[2016-04-18 19:38] jt3k commented on #186
BUMP

[2016-04-19 08:03] oezkany commented on #154
I have the same problems.

@sergeyt : I think something is wrong in your regex. I've tested with regexr.com

@arasatasaygin : I think you will find some better regex-pattern for url.

`
is.url('aaa.bbb'); // => true;  ... should be false.
is.url('http://localhost/'); // => false;  ... it it a valid URL but not a valid WEBLINK, you could split it.
`

[2016-04-20 11:49] amoe commented on #154
Regarding the point by @oezkany about localhost URLs, it seems these should definitely return `true` by default.  It's reasonable to use localhost URLs to drive application state during the development process, and I use `is.js` to do assertions on internal state.  I understand that `is.url` also be used for public user inputs, so in that case a separate concept of "public URL" may be useful.

[2016-04-20 12:30] zazapeta opened #190 "is.positive should consider 0 as positive (also, is.negative)"
is.positive(0) return false... its weird (and wrong) : **0 is positive and negative, pur and complex**.

[2016-04-20 17:21] ironmaniiith commented on #190
Please refer this.
https://simple.wikipedia.org/wiki/Positive_number

[2016-04-20 19:04] zazapeta commented on #190
Sorry, but wikipedia is not THE truth .
Please, let me proof that 0 is both (positive and negative) :
**positive :**
 let 'sqrt' the square root. In R, we cannot determinate the sqrt of a negative number. But we have : sqrt(0) = 0, so 0 is a postive number as we know the definition of a square root.
<hr>
**negative :**
 Let _x_ a number in R.
  if x is positive we have : x * -1 = -x (negative). An

[2016-05-05 04:51] jlettvin opened #191 "is.opera fails"
navigator.userAgent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.110 Safari/537.36 OPR/36.0.2130.65";

Reading your code, it looks like it should work.

[2016-05-07 09:44] jt3k commented on #186
BUMP

[2016-05-09 15:38] Mati365 opened #193 "Is.js not works in CoffeeScript"
`is` is Coffee reserved word :cry: It would be good export additional variable called for example `is_js` :smiley:

[2016-05-18 15:38] #156 closed

[2016-05-23 10:32] Ema4rl commented on #183
+1 in support of @ironmaniiith

[2016-05-27 20:03] argonautical commented on #154
"localhost" is just an example of a wider problem. In many intranets servers are not referred to by FQDN. We're running into that problem right now (in addition to the localhost problem). I would expect  if you include a protocol, it should be forgiving and evaluate to true. Therefore, "[protocol]://[any valid server name]", even without the domain extension, should evaluate to true, but "[any val

[2016-06-01 18:25] sebastialonso commented on #190
@zazapeta In a mathematical context, theorems and proofs, the non-positive includes negative reals AND zero, whatever Wikipedia says. The same goes with non-negative. Your first proof is incomplete in the sense that you have only proved that zero in non negative. Not that it is positive. Your second proof is also wrong: second line applies also to negative numbers. x * -1 = -x is valid for all x r

[2016-06-02 06:16] jt3k commented on #190
in mathematika posible negative and positive zero

look in source in this package https://github.com/sindresorhus/negative-zero

[2016-06-11 19:37] moooji opened #196 "is.uri (RFC-3986)"
I have created a PR (https://github.com/arasatasaygin/is.js/pull/195) to check URIs according to RFC-3986 based on the JOI implementation.

http://www.rfc-base.org/rfc-3986.html
https://github.com/hapijs/joi

This will validate to:
[code]

[2016-06-22 01:10] jonathansampson commented on #191
The problem with this test is that `userAgent` is converted to lower-case, but the regex doesn't contain the `i` flag to make the match case-insensitive. As such, neither *Opera* nor *OPR* are found.

[2016-06-22 01:13] jonathansampson commented on #186
I'm considering making a few fixes to resolve some of the presently filed issues. Is this project going to be maintained moving forward? It looks like there are a lot of pull requests that have been ignored for a long, long time.

[2016-06-22 09:02] jt3k commented on #186
@arasatasaygin do anything! the project dies.
give the right of control to anyone

[2016-06-23 20:55] #130 closed

[2016-06-23 20:56] jdalton commented on #145
Fixed by #197.

[2016-06-23 20:56] #145 closed

[2016-06-23 20:57] jdalton commented on #191
Dup of #130. Fixed by #197.

[2016-06-23 20:57] #191 closed

[2016-06-23 20:58] jdalton commented on #182
Moved to #182.

[2016-06-23 20:58] #182 closed

[2016-06-23 21:28] jdalton commented on #177
Closed by https://github.com/arasatasaygin/is.js/commit/e6393f789efd454141b4ed15b0dfe03711b8e587.

[2016-06-23 21:28] #177 closed

[2016-06-23 21:29] jdalton commented on #63
Fixed by https://github.com/arasatasaygin/is.js/commit/e6393f789efd454141b4ed15b0dfe03711b8e587.

[2016-06-23 21:29] #63 closed

[2016-06-23 21:32] jdalton commented on #193
Hi @Mati365!

You can reference it as `globalRef['is']` and assign it to the variable of your choosing.

[2016-06-23 21:32] #193 closed

[2016-06-23 21:35] jdalton commented on #113
Your concatenation process shouldn't enforce modes on code it doesn't own. `is.js` is in its own IIFE so should otherwise be fine for concatenation.

[2016-06-23 21:35] #113 closed

[2016-06-23 21:53] jdalton commented on #196
Thanks @moooji!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 21:53] #196 closed

[2016-06-23 21:54] #151 closed

[2016-06-23 21:55] jdalton commented on #150
Thanks @rtoal!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 21:55] #150 closed

[2016-06-23 21:55] jdalton commented on #153
Thanks @kfei!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 21:55] #153 closed

[2016-06-23 21:57] #104 closed

[2016-06-23 22:01] jdalton commented on #77
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:01] #77 closed

[2016-06-23 22:10] #18 closed

[2016-06-23 22:11] jdalton commented on #15
Moved to #143.

[2016-06-23 22:11] #15 closed

[2016-06-23 22:15] jdalton commented on #178
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:15] #178 closed

[2016-06-23 22:16] jdalton commented on #165
Linters are fine. Feel free to send a PR for eslint.

[2016-06-23 22:16] #165 closed

[2016-06-23 22:17] jdalton commented on #172
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:17] #172 closed

[2016-06-23 22:18] jdalton commented on #141
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:18] #141 closed

[2016-06-23 22:18] jdalton commented on #120
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:18] #120 closed

[2016-06-23 22:18] jdalton commented on #129
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:18] #129 closed

[2016-06-23 22:19] #147 closed

[2016-06-23 22:19] jdalton commented on #163
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:19] #163 closed

[2016-06-23 22:21] jdalton commented on #12
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:21] #12 closed

[2016-06-23 22:22] jdalton commented on #24
Closing issue as stale. Feel free to open a PR to fix the issue.

[2016-06-23 22:22] #24 closed

[2016-06-23 22:23] jdalton commented on #155
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:23] #155 closed

[2016-06-23 22:23] jdalton commented on #90
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:23] #90 closed

[2016-06-23 22:23] #74 closed

[2016-06-23 22:24] jdalton commented on #10
This likely won't happen at this time.

[2016-06-23 22:24] #10 closed

[2016-06-23 22:25] jdalton commented on #40
Moved to #71.

[2016-06-23 22:25] #40 closed

[2016-06-23 22:27] jdalton commented on #142
Dup of #37.

[2016-06-23 22:27] #142 closed

[2016-06-23 22:27] jdalton commented on #97
Moved to #98.

[2016-06-23 22:27] #97 closed

[2016-06-23 22:28] jdalton commented on #45
Thanks!

We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-06-23 22:28] #45 closed

[2016-06-23 22:30] #190 closed

[2016-06-23 23:23] #115 closed

[2016-06-23 23:48] jdalton commented on #170
Moved to #171.

[2016-06-23 23:48] #170 closed

[2016-06-23 23:52] jdalton commented on #175
Added :)

[2016-06-23 23:52] #175 closed

[2016-06-24 01:31] jdalton commented on #186
Hey y'all!

I've been given commit rights and have done a clean-up pass, pruned issues, and applied some bug fixes.

[2016-06-24 02:49] jonathansampson commented on #186
@jdalton Uncle Buck Points!

[2016-06-24 02:57] jonathansampson commented on #39
I like this idea, but would see more value in having the ability to check boundaries. For instance, is the browser version below or above a boundary. More often than not we want to know if the version is 9 or greater, 8 or lower, etc.

[2016-06-24 03:17] jonathansampson commented on #185
@youngwind You might be looking for [Modernizr](https://github.com/modernizr/modernizr)?

[2016-06-24 08:20] #185 closed

[2016-06-24 09:58] ironmaniiith commented on #186
Aaah, good to see the come back of is.js (with more than 50+ notifications on my mail :sweat_smile: )

[2016-06-24 13:35] jdalton commented on #185
The `is.js` library uses `chai` as its assert library which errors in IE8 so it's safe to assume that solid support is modern browsers (current and previous browser releases) plus IE9 and up.

[2016-06-24 15:06] ironmaniiith opened #198 "Confusion with is.json"
Right now, is.json behaves like this.

[code]

Which is correct but bit confusing if one goes and check the validity of all the three objects above on any online validator.

Also if a "valid json string" is provided to is.json, it returns false.
Shouldn't it be better if we add a method to verify whether a ``string`` is a ``valid json`` or not (which is commonly verified on all the online validato

[2016-06-24 15:14] jdalton commented on #198
The `is.json` method is interesting. It's just checking if the ToStringTag is of "Object". Validation of JSON strings is different enough for a new method. I imagine it would be:
[code]

We'll keep an eye on [the popularity of the request](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests).

[2016-06-24 15:14] #198 closed

[2016-06-24 15:36] ironmaniiith opened #199 "Bug + improvement in is.capitalized"
###### Current Implementation:
[code]

###### Description (Bug):
[code]
It's because of the line
[code]
which results in an empty string, which further produces error when using toUpperCase()
Maybe we can use filter here to avoid empty splits.

###### Description (Improvement):
There's no point of using an extra array ```capitalized``` and checking all it's entries afterwards, instead we can just

[2016-06-24 15:48] jdalton commented on #199
Just to clarify the bug is with strings that contain more than one consecutive space.

[2016-06-24 15:50] jdalton commented on #199
If you're up for a PR that would rock. Don't forget to include a unit test.

[2016-06-24 15:59] ironmaniiith commented on #199
:+1:
Just a question, should I include the improvement mentioned as well in the same PR.?

[2016-06-24 16:24] jdalton commented on #199
PRs are easier to reason about and merge when they're small and focused so I'd split it onto two PRs.

[2016-06-24 17:49] jdalton commented on #199
Moved to #200.

[2016-06-24 17:49] #199 closed

[2016-06-24 21:09] jdalton commented on #176
Moved to #202.

[2016-06-24 21:09] #176 closed

[2016-06-24 21:41] ironmaniiith opened #203 "Bug in is.hexadecimal"
Description:
[code]

[2016-06-24 22:18] jdalton commented on #203
Moved to #204

[2016-06-24 22:18] #203 closed

[2016-06-24 23:59] #183 closed

[2016-06-25 00:01] jdalton commented on #39
I've added the `version` param to the other browser methods.

Having a method to return a number or check a range would be nice but gets tricky as I believe every method currently returns a boolean so returning a number would seem out of place.

[2016-06-25 00:01] #39 closed

[2016-06-25 00:10] #173 closed

[2016-06-25 00:29] #189 closed

[2016-06-25 00:54] ironmaniiith commented on #186
@jdalton can you please update the gh-pages branch as well, it becomes quite handy many a times to just check things on is.js.org.

[2016-06-25 00:58] jdalton commented on #186
I'll accept PRs to update the gh-pages 💃

[2016-06-25 01:09] ironmaniiith commented on #131
@inad9300 , can you please tell which browser and version of ubuntu are you using..?

[2016-06-25 10:00] ironmaniiith commented on #154
Looks like validating the url is really a tough job. Lot of resources online, but very few works fine.
Maybe this one is the best we can have.
https://mathiasbynens.be/demo/url-regex  (check @diegoperini)
JS Version here (https://gist.github.com/dperini/729294)
Anyone have any better idea.?

[2016-06-25 10:14] andre487 commented on #165
Done: #205

[2016-06-25 13:53] jdalton commented on #165
🙌

[2016-06-25 13:54] jdalton commented on #154
\cc @mathiasbynens

[2016-06-25 22:48] jonathansampson commented on #39
@jdalton I agree that returning a number is not in accordance with the general pattern of is.js, but I wonder how helpful a general version check is ultimately. For internet explorer, I'd have to write the following to test for an older version:

[code]

Perhaps we could create a cache on the `is` object that holds relevant values?

[code]

This way, the individual browser methods continue to retu

[2016-06-25 23:51] mathiasbynens commented on #154
Note that the abovementioned page had very specific requirements that do not apply to the generic definition of “URL”.

[2016-06-28 03:08] jdalton commented on #39
I tackled this (https://github.com/arasatasaygin/is.js/commit/b022fabe46397d05009c97bca036298015dccafb) by adding support for version ranges to the methods. You can now do:
[code]

[2016-06-28 15:29] jdalton opened #211 "sync readme docs to master."
@ironmaniiith would you be able to sync the readme docs to [the changes in master](https://github.com/arasatasaygin/is.js/compare/v0.8.0...master)?

[2016-06-28 17:49] ironmaniiith commented on #211
:+1:
I will do it and let you know.

[2016-06-29 08:15] ironmaniiith opened #214 "adding is.vivaldi() support"

[2016-06-29 11:58] inad9300 commented on #131
It was quite a long ago, but it was most likely Chromium.

[2016-06-29 12:18] jlettvin commented on #191
Thank you.

On Thu, Jun 23, 2016 at 4:57 PM, John-David Dalton <notifications@github.com

--
This e-mail is from Jonathan D. Lettvin, and may contain information that
is confidential or privileged. If you are not the intended recipient, do
not read, copy or distribute the e-mail or any attachments. Instead, please
notify the sender and delete the e-mail and any attachments. Thank you.

Jonathan D.

[2016-06-29 13:47] jdalton commented on #214
Dup of #126. Since vivaldi is built of off chromium + blink I think it's fine that it's detected as `is.chrome`.
Is.js is not intended to be the be-all-end-all of UA sniffing. There are projects like [ua-parser](https://github.com/ua-parser) for that.

[2016-06-29 13:47] #214 closed

[2016-06-29 14:29] ironmaniiith commented on #214
Ok :+1:

[2016-07-05 17:32] ironmaniiith opened #220 "extending `is.sorted` functionality"
Expected outcome:
[code]

@jdalton , I think a significant number of changes have occurred to the lib, so I guess it will be a right time for a version upgrade.
Also you can move the outdated PR #98 here as this functionality covers a major range.

[2016-07-05 17:53] ironmaniiith commented on #220
@jdalton , Thanks, will submit PR soon.

[2016-07-05 18:54] jdalton commented on #220
Moved to #221.

[2016-07-05 18:54] #220 closed

[2016-07-06 20:09] ironmaniiith opened #228 "unsynced README and is.js.org (for previous releases as well)"
The readme says
[code]
Whereas the website says.
[code]
However all the other RegExp checks are of type `value:any` except the above 3 in the README.

[2016-07-06 20:19] jdalton commented on #228
Moved to #229.

[2016-07-06 20:19] #228 closed

[2016-07-29 10:11] idododu opened #235 "include grunt/gulp to customize required functions"
a great js library!!!

can any big one add grunt/gulp tasks to customize required functions?

eg: when u only need "enviroment" part of is.js, we can type a command "grunt only enviroment" in cmd window, and then the smaller is.js and is.min.js will be generated.

[2016-07-29 14:42] jdalton commented on #235
Hi @idododu!

Having a modular library is a pretty nice thing.
We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2016-07-29 14:42] #235 closed

[2016-07-29 14:56] ironmaniiith commented on #235
+1 in support of @idododu

[2016-07-30 00:40] jt3k commented on #235
+1
Vote for modularity with the possibility of tree-shaking, if necessary

[2016-08-16 06:53] liamhughes commented on #173
I wonder if the original behaviour was correct. Chrome on iOS is using the Safari rendering engine, which is what we are typically testing for?

[2016-08-26 10:13] lsatdown opened #237 "is.edge() not working"
Running Edge 20.10240.16384.0
is.edge() reports false.

[2016-08-26 14:09] jdalton commented on #237
Hi @lsatdown!

This should be resolved with the `is` in [master](https://raw.githubusercontent.com/arasatasaygin/is.js/master/is.js).

[2016-08-26 14:09] #237 closed

[2016-09-02 23:31] #211 closed

[2016-09-02 23:41] jdalton commented on #186
@ironmaniiith is now core 👏 🎉 🙌  and I have npm publish rights. Expect cutting a release soon.

[2016-09-02 23:48] jdalton commented on #186
Things are shaping up well so I think we can call this issue closed. Thanks all!

[2016-09-02 23:48] #186 closed

[2016-09-03 09:45] ironmaniiith commented on #186
Thanks :smile:

[2016-09-03 12:51] jt3k commented on #186
Спасибо!

[2016-09-04 13:32] ironmaniiith opened #241 "Simplifying is.boolean"
Current implementation:
[code]

which I think could be simplified to
[code]
 or
[code]

[2016-09-04 14:23] jdalton commented on #241
which I think could be simplified to
[code]

That coerces values so causes false positives:
[code]
And

[code]

[2016-09-04 14:23] #241 closed

[2016-09-04 15:16] ironmaniiith commented on #241
Oh, I missed the second part of `new Boolean(true)`

But the first part
[code]
changes to
[code]
Which still gives `false`, how is that `true`?

[2016-09-04 16:12] jdalton commented on #241
Ah my bad :P

[2016-09-04 17:50] ironmaniiith opened #242 "Bug in is.infinite"
Description:
[code]
Expected:
[code]

[2016-09-04 17:57] ironmaniiith commented on #242
Moved to #243

[2016-09-04 17:57] #242 closed

[2016-09-05 20:45] ironmaniiith opened #244 "is.json bug"
Description:
[code]

[2016-09-05 20:59] ironmaniiith commented on #244
However, if we have something like this
[code]
Then the `JSON.stringify` method returns the output
[code]

So should the above `is.json` output be considered correct?

[2016-09-05 21:54] jdalton commented on #244
The `is.json` method is poorly named. It has nothing to do with JSON and doesn't perform any JSON related checks. It's simply `toString.call(value) === '[object Object]'`.

[2016-09-05 21:55] jdalton commented on #244
It should be changed/renamed for sure.

[2016-09-06 19:32] ironmaniiith commented on #244
Any suggestions on how it should be done?

[2016-09-06 19:43] jdalton commented on #244
We should put it on a [roadmap wiki](https://github.com/arasatasaygin/is.js/wiki/Roadmap) to tackle in the next major bump.

[2016-09-09 16:42] nmehta6 opened #245 "Using with browserify and bundling for the browser"
I noticed that some functions ()https://github.com/arasatasaygin/is.js/blob/master/is.js#L592 are missing when I consume this package using npm and then run it through browserify. Is there an alternative way of doing this?

[2016-09-09 16:50] jdalton commented on #245
We could tweak the check to avoid the exclusion of those methods.

[2016-09-12 23:11] #245 closed

[2016-09-12 23:35] jdalton opened #246 "Bump to 0.9.0"
I'd like to bump to 0.9.0 but want to make sure the docs are in place.

@ironmaniiith Can you do a review to make sure things are ready to bump.

[2016-09-13 10:11] ironmaniiith commented on #246
:+1:

[2016-09-13 21:08] jdalton commented on #246
😎

[2016-09-13 21:08] #246 closed

[2016-09-13 21:08] jdalton commented on #246
Bumped.

[2016-09-14 15:23] webdevbrian commented on #154
@argonautical Is absolutely correct, this needs to be fixed @jdalton

[2016-09-14 15:33] jdalton commented on #154
I think @webdevbrian is volunteering to create a PR \o/

[2016-09-14 15:40] webdevbrian commented on #154
@jdalton

https://github.com/angular/angular.js/blob/21e4db9e0783d1f22b043cdb053e3b8c155a2786/src/ng/directive/input.js#L25

Yours should be renamed to something referencing that you're only allowing externally acceptable links. I don't know why you're omitting internal IPs. \o/

[2016-09-23 06:34] IamLeTea opened #247 "Facebook InApp Browser for iPad"
Hi,

I find a thing that is.mobile return true when I use iPad in Facebook InApp Browser.
(Line InApp Browser return false.)

iOS 9.3.5 & 10.0.1

[2016-09-23 06:41] jdalton commented on #247
Hi @IamLeTea!

This appears [by design](https://github.com/arasatasaygin/is.js/blob/v0.9.0/is.js#L719-L721).

[2016-09-23 06:43] jdalton commented on #247
Actually that's for `ipod`. Do you know what your `navigator.userAgent` value is?

[2016-09-23 06:45] jdalton commented on #247
Looks related to http://stackoverflow.com/questions/11414006/is-this-a-facebook-for-ios-webview-user-agent.

[2016-09-23 06:48] IamLeTea commented on #247
The navigator.userAgent is:

Mozilla/5.0 (iPad; CPU OS 10_0_1 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Mobile/14A403 [FBAN/FBIOS;FBAV/64.0.0.43.138;FBBV/38842789;FBRV/0;FBDV/iPad4,4;FBMD/iPad;FBSN/iPhone OS;FBSV/10.0.1;FBSS/2;FBCR/;FBID/tablet;FBLC/zh_TW;FBOP/5]

[2016-09-23 06:57] #247 closed

[2016-09-23 06:57] jdalton commented on #247
Thanks!

[2016-09-23 07:00] IamLeTea commented on #247
You are welcome :)

[2016-10-03 18:12] ironmaniiith opened #248 "Using code prettifier for gh-pages"
The current code is written in just a `pre` tag which looks ugly.
I prefer [code-prettify](https://github.com/google/code-prettify) which is sober and pretty simple to use.

Please suggest any better alternative if anyone have any.

[2016-10-05 10:32] somsak-tk opened #249 "is.ie(8) use on redhat jboss got version 7"
Dear is.js
    I use is.ie(8) on my app struts2 , tomcat7 run on ie 8.0.7601.17514 script work fine i got return "true".
But when i deployed on redhat jboss enterprise application platform 6.4.8 GA (jdk1.7) i run on same ie
but return is "false" then i try is.ie(7) return is "true".

thanks for any information

[2016-10-05 11:23] jt3k commented on #249
Maybe in the second case, turn on compatibility mode in ie?
Look at [here](http://stackoverflow.com/questions/3449286/force-ie-compatibility-mode-off-using-tags) to force switch off compatability mode in ie

[2016-10-05 14:28] #249 closed

[2016-10-05 20:02] arasatasaygin commented on #248
I kinda love the current one as a design choice. Code samples are not too long or complicated to enhance readability. But just my opinion. If people think it can help, go for it 👍

[2016-10-05 20:32] jdalton commented on #248
@ironmaniiith Could you post a mockup image?

[2016-10-06 06:36] ironmaniiith commented on #248
1. Without styling:
![screenshot from 2016-10-06 11-47-53](https://cloud.githubusercontent.com/assets/9266422/19142430/082cf3f8-8bbb-11e6-97e1-72d653b36558.png)

2. With styling
![screenshot from 2016-10-06 11-48-01](https://cloud.githubusercontent.com/assets/9266422/19142432/08519e42-8bbb-11e6-8421-f4132351f479.png)

[2016-10-06 17:06] arasatasaygin commented on #248
- Current design (still my favorite)
- Code prettify (acceptable, with line heights tuning, block padding update and proper border update)
- Prism (least favorite one, it changes the pages design sense)

[2016-10-06 17:27] jdalton commented on #248
\< I have no opinion />

[2016-10-11 11:50] ishmangit opened #250 "Compare arrays or objects by the values"
Hi to all!,

I'm wondering if is it possible to compare two array or object variables using this library. I've tried to compare with is.equal(array1, array2), having both arrays the same values but the command returns "false" to me...

Thank you!

[2016-10-11 12:58] jt3k commented on #250
simply but wrong and slow way is using matching like this
[code]
but if u not have serializable objects this way will throw an error.

second way looks like this https://github.com/substack/node-deep-equal/blob/master/index.js and has name "deep-equal"

[2016-10-11 15:33] jdalton commented on #250
Dup of #80.

[2016-10-11 15:33] #250 closed

[2016-10-12 10:54] RGFnaGFuIEd1bmF5 opened #251 "IE 8 fallback error"
I'm getting "Expected identifier" on line 93 in IE8.

`is.arguments = function(value) {    // fallback check is for IE
        return is.not.null(value) && (toString.call(value) === '[object Arguments]' || (typeof value === 'object' && 'callee' in value));
    };`

How can i fix this.

[2016-10-12 15:47] jdalton commented on #251
Hi @RGFnaGFuIEd1bmF5!

You need to upgrade your version of is.js.

[2016-10-12 15:47] #251 closed

[2016-10-12 15:48] jdalton commented on #251
See https://github.com/arasatasaygin/is.js/commit/e6393f789efd454141b4ed15b0dfe03711b8e587.

[2016-10-27 16:35] Anaphase opened #253 "is.chrome() false positive in Opera 41.0"
`is.chrome()` returns `true` in Opera 41.0 (and possibly other versions, I've only tested against 41.0.2353.46.) The reason is that `navigator.vendor === "Google Inc."` and `chrome` is in the `userAgent` string.

[2016-10-27 16:37] Anaphase commented on #253
Possible solution would be to include an `is.opera()` check in the `is.chrome()` method.

[2016-10-27 16:49] jdalton commented on #253
Sounds good. @Anaphase are you up for making a PR?

[2016-10-27 17:11] Anaphase commented on #253
Sure! See PR #254

[2016-10-27 17:15] jdalton commented on #253
Moved to #254.

[2016-10-27 17:15] #253 closed

[2016-11-11 15:13] Escort42 opened #255 "is.array and is.object bug"
var a = {
	"No":["1000","200"],
	"Date":"22/12/2012"
}

is.array(a["No"])
// --> true

is.object(a["No"])
// -->true   .....this should be false. because a["No"] is array ...

[2016-11-18 22:24] salihsagdilek commented on #154
@ironmaniiith yea Diego Perini regex is a better, i used another project, i tested too much regex, it's a really better than another.
I was actually thinking about pull-request throwing and I saw this issue.

results
[code]

[2016-11-18 22:35] jdalton commented on #154
In modern browser you can do:
[code]
And in Node something similar with the built-in `url` module can be done.

[2017-01-16 16:20] jucrouzet commented on #255
In Javascript, everything except primitives (strings, numbers, bool, null, undefined) is an object, so basically, an Array **IS** an object.

[2017-01-16 21:12] #255 closed

[2017-01-29 09:10] mo2menelzeiny opened #258 "is.chrome() returns false on the new iOS Chrome App"
while working on a web app, I had to do some very specific UI modifications based on the difference between iOS Safari and iOS Chrome browsers. Here is what I noticed:
`is.safari()` returns true on both iOS Safari and iOS Chrome
`is.chrome()` returns false on both iOS Safari and iOS Chrome

After doing a little research the issue seems to be originated as seen on [stackoverflow](http://stackoverfl

[2017-01-29 09:56] mo2menelzeiny commented on #258
@jdalton I had an old version installed, so I closed the issue and updated to the latest version `"is_js": "^0.9.0",`However, some changes happened, but the issue is not resolved:

- `is.safari()` works correctly returns true on iOS Safari and false on iOS Chrome.

- `is.chrome()` still returns false on iOS Chrome.

I'm aware now that you guys covered the 'CriOS' in your regex, after referring to

[2017-02-21 12:52] Forshortmrmeth opened #260 "is.date() returns true when instance of date is Invalid date"
In project I have some helpers for preparing user data, which i've get from server. Server does respond with some information about user: firstName, lastName, date, etc.

I've try to format date string with `new Date()` and check it by `is.date(instanceOfDate)`.

Sometimes server does respond with `undefined` and `is.date()` returns true, but `new Date (undefined)` returns **Invalid Date**.

I kno

[2017-02-21 15:10] jdalton commented on #260
Hi @Forshortmrmeth!

`is.date` does not return `true` for `is.date(undefined)`. The `is.date` method is a kind checker method. An invalid date is still a date value just as `NaN` and `Infinity` are number values.

[2017-02-21 15:10] #260 closed

[2017-02-21 15:11] jt3k commented on #260
@Forshortmrmeth try to use ```js
new Date(undefined).toString() === "Invalid Date"
[code]

[2017-02-26 21:45] pnowak commented on #244
Maybe just add one more check ('stringify' in value)? PR rewrite this method - https://github.com/arasatasaygin/is.js/pull/261

[2017-03-02 23:30] fluxsauce opened #263 "unexpected behavior in regex-based checks for undefined"
[code]

[code]

That threw me for a bit. The workaround is `is.existy` before `is.ip` but that seems kind of inelegant. Is this by design?

[2017-03-03 00:06] jdalton commented on #263
Hi @fluxsauce!

Are you up for creating a PR?

[2017-03-03 00:17] fluxsauce commented on #263
@jdalton on it. Turns out this affects anything with a regex. I've fixed it, currently updating the tests, PR tonight.

[2017-03-03 05:46] ironmaniiith commented on #263
@fluxsauce , can you tell which browser and which version of is.js are you using?

[2017-03-03 14:49] fluxsauce commented on #263
@ironmaniiith Node.js, I'll have to check the package version and get back to you.

[2017-03-03 16:51] fluxsauce commented on #263
@ironmaniiith that's embarrassing, I just sandbox tested this. The version that was being used in the project was 0.7.0, I replicated the bug in 0.8.0, looks fixed in 0.9.0.

My PR did fix a bug in the tests for IPV6, though :-)

[2017-03-03 16:56] ironmaniiith commented on #263
I can't find any bug in IPV6 as well, which bug btw?

[2017-03-03 17:03] fluxsauce commented on #263
Hyper-minor, it was supposed to test the IPv6 validation and instead tested the IP validation which tangentially tested the IPv6 but gave a false positive because it tests IPv4 before IPv6.

https://github.com/arasatasaygin/is.js/pull/264/files#diff-c1129c8b045390789fa8ff62f2c6b4a9L593

[2017-03-03 19:45] ironmaniiith commented on #263
Ok, so it's just in the test file.
I think we can revert back the PR as there was no issue with the previous implementation

[2017-03-03 20:27] jdalton commented on #263
Let's keep the patch and instead add unit tests. The check is solid because it prevents `undefined` and `null` from being coerced to strings in `RegExp#test` which prevents things like `is.alphaNumeric()` from returning `true` (as it currently does in the stable release).

[2017-03-03 21:51] fluxsauce commented on #263
`is.existy(value) && is.string(value) && regexes[regexp].test(value)` would fulfill that. A thought, would you be open to a loop for the tests rather than having all the copy/paste logic?

[2017-03-03 21:58] jdalton commented on #263
I went ahead and kept the `is.string` check out of it since I found unit tests allowing number values for some methods.

[2017-03-03 21:58] #263 closed

[2017-03-03 21:59] jdalton opened #266 "is.dayLightSavingTime should return false if given date is in daylight saving time."
I noticed a unit test fail on Node 7.6.0.
[code]

[2017-03-12 07:43] battaglr opened #267 "Consider using `Number.isFinite` instead of `isFinite`"
[`is.finite`](https://github.com/arasatasaygin/is.js/blob/master/is.js#L279) returns `true` for `'1'`, `null`, `false` or any other value that can be converted to a number —this is consistent with the native [`isFinite`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/isFinite) function which this method returns if available.

I think that returning [`Number.isFini

[2017-03-17 10:58] ironmaniiith commented on #266
I came across [this](https://www.inverse.com/article/28944-daylight-saving-time-change-2017) article on `dayLightSavingTime` and got reminded of this :stuck_out_tongue_winking_eye:

[2017-03-17 19:34] jt3k commented on #77
is.blank  looks good for `/^\s+$/`

[2017-04-05 17:04] dmyersturnbull opened #270 "is.safari is true for Firefox"
**Edit:** There's a chance this is wrong. Closing for now.

~~`is.safari()` is true for Firefox 52.0 (64-bit, on Fedora). Here's the user-agent string:~~

~~`Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0`~~

[2017-04-05 17:05] #270 closed

[2017-04-06 11:33] mimani opened #271 "support to detect UCBrowser"
Is there support to detect where current browser is UCBrowser?

[2017-04-06 15:27] jdalton commented on #271
Hi @mimani!

I don't believe so.

[2017-04-06 15:27] #271 closed

[2017-04-06 16:12] mimani commented on #271
Is there any plan to add this or is make sense to have similar functionality as you already have `is.chrome();`, `is.firefox();`, etc.

[2017-04-06 17:19] jdalton commented on #271
If you create a PR we'll add it. Please include unit tests with the PR.

[2017-04-10 18:41] fluxsauce commented on #154
This shouldn't be overlooked, it's failing on both `http://localhost:3000` and `http://web.qa.aaa.bbb` (an internally supported DNS entry). Going to swap out the validation for something else, but I can't rely on `is.url` in its current state.

[2017-04-10 20:53] cgatesman commented on #154
@fluxsauce, I to had to abandon `is.url` for this very reason.

[2017-04-25 14:59] Forshortmrmeth opened #273 "is.touchDevice returns true instead of false on laptop"
Hi, i catched some kind of bug in our app, when we use is.touchDevice for detecting mobile devices. Windows users, who use Google Chrome v.56 - 58 has following user agent:

`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.81 Safari/537`.

navigator.appVersion: `5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.30

[2017-05-17 13:18] RobDesideri commented on #77
For now, a workaround can be `is.empty(mystring.trim())`.

[2017-05-26 17:17] mhakes opened #274 "Adding is.prime method"
// just a suggestion..
// supports not, any, all
<pre>
is.prime = function (value) {
        var basePrimes = [2, 3, 5];
        var sqrt = 0;
        var checking = 7;
        var increment = 4;
        function mod(divisor) {
            return value % divisor === 0;
        }
        // is.all.safeInteger() would be necessary
        // all/any functionality
        if (!Number.isSafeInteger(va

[2017-05-26 22:34] ironmaniiith commented on #274
Hi @mhakes
We do not have is.prime() method currently.
We'll keep an eye on [the popularity of the request](https://github.com/arasatasaygin/is.js/blob/master/CONTRIBUTING.md#feature-requests).

[2017-05-26 22:34] #274 closed

[2017-06-01 08:46] zazapeta commented on #154
If i can give a suggestion :
is.url should behave like that : http://formvalidation.io/validators/uri/

Cheers !

[2017-06-13 08:46] MiPnamic commented on #273
Are you sure that your laptop has no touchscreen?

I personally faced an issue with a customer saying: "the website menu act like mobile version" it was a Dell Inspiron 15-T

[2017-06-19 16:25] Forshortmrmeth commented on #273
@MiPnamic yes, i am. It is Asus n550j

[2017-07-19 03:55] modood opened #275 "is.odd(-5) should return true, but false given."
as you know:
[code]
is.js:
[code]

[2017-07-19 06:58] jdalton commented on #275
Hi @modood!

Would you be up for creating a PR?

[2017-07-19 07:39] ironmaniiith commented on #275
@modood , if you are up for PR, I think it would be better to just check for even numbers using `n % 2 === 0` and then using `is.not.even(n)` in `is.idd`

[2017-07-19 12:57] jdalton commented on #275
Thanks. Merged! 😀

[2017-07-19 12:57] #275 closed

[2017-07-24 17:43] dominicmichaud opened #277 "Issue with Coffeescript and Ruby on rails"
Hello,

I need help trying to understand how to make is.js work in Rails environment with coffeescript.
As I learned from another post, in Coffeescript, 'is' is a reserved keyword.

I have seen the [closed issue 193](https://github.com/arasatasaygin/is.js/issues/193), but for some reason `globalRef['is']` doesn't work.. or maybe I don't know how to set it up..

Setup:
I have 'required' it in my ap

[2017-07-24 23:37] jdalton commented on #277
CoffeeScript now supports the `import` syntax so you should be able to import it with that
[code]

[2017-07-24 23:37] #277 closed

[2017-07-25 19:54] dominicmichaud commented on #277
@jdalton sorry for late response and if I sound dumb, but I can't make it work...

I added the line and this error shows up: SyntaxError: [stdin]:15:3: reserved word 'import'

Here are more project specs:
ruby '2.2.3'
gem 'rails', '4.2.4'
gem 'coffee-rails', '~> 4.0.0'

[2017-08-01 17:20] dominicmichaud commented on #277
@jdalton Hi, is there a way to reopen this issue, because I really don't know what to do. thanks

[2017-08-01 17:33] jdalton commented on #277
Hi @dominicmichaud!

I'm sorry you're having issues but this doesn't look like an is.js issue. You might try a ruby support channel.

[2017-08-01 17:35] dominicmichaud commented on #277
@jdalton ok, is see. will try to ask around on stack overflow. thank you for taking the time to help me

[2017-09-08 16:51] philliplongman opened #278 "Add is.present"
I would love to see an `is.present()` function, like the `present?` method in Rails. Basically, it returns true if the value is truthy and not empty. So an empty array, object, or string would not be present, nor would null, undefined, and NaN.

[2017-09-10 14:52] jt3k commented on #278
can be a `is.falsy` and `is.truthy` has the same functionality?

[2017-09-11 03:16] philliplongman commented on #278
They don't have the same functionality. To be present something must be both truthy _and_ not blank. Empty arrays and objects are truthy, empty strings are falsy. All three are empty and therefor not present.

Also, `0` is falsy in JavaScript, but would be considered truthy and therefor present in Ruby. My preference would be for `0` to be present even though it's falsy—since the primary use of `i

[2017-09-13 15:30] komlev commented on #150
@jdalton, @rtoal Hi
Symbol is standard now and getting major support from browser.
Maybe it is time to resurrect this request?

[2017-10-04 12:23] artemv opened #279 "Add is.promise"
Promises are everywhere these days so looks useful.

[2017-10-04 13:21] jdalton commented on #279
I've seen it suggested that such methods be named `is.thenable` since a promise can be anything with the `.then` contract.

[2017-10-04 13:54] jdalton commented on #279
Moved to #280.

[2017-10-04 13:54] #279 closed

[2017-10-13 15:25] SirCameron opened #281 "is.mobile on chrome desktop returns true"
Hey all...

Thanks for this.
Just letting you know is.mobile() on desktop chrome on mac returns true.
Seems only to happen in chrome. Safari and Firefox desktop are returning the correct false.

Thanks
C

[2017-10-14 21:20] heymartinadams opened #282 "is.safari() returns true for Android UC browser"
Probably because it’s using Safari’s rendering engine. Tested via https://www.browserstack.com/

[2017-10-14 21:25] heymartinadams commented on #282
Perhaps test it via this method instead:

Source: https://stackoverflow.com/a/9851769/3962062
[code]

[2017-10-19 08:28] kwiat1990 commented on #273
isTouch() returns also true on Firefox 45.9.0 (Desktop, no touch screen).

Using Modernizr I had to use 2 methods simultaneously  (Modernizr.pointerevents and Modernizr.touchevents) to get in FF a corect result.

On the other hand, there is no problem in Chrome or IE. Both return false what I consider a correct value in this case.

[2017-10-19 14:10] jdalton commented on #273
What about on a more modern Firefox like v56?

[2017-10-20 17:40] artofspeed commented on #281
can you tell me the value of `window.navigator.userAgent`?

[2017-10-20 17:43] SirCameron commented on #281
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36

[2017-10-20 19:18] artofspeed commented on #281
I modified the source code with the string you gave me, and it returns me false

[2017-11-17 19:26] avalanche1 opened #283 "Why '[object String]'?"
Hi!
What's the trivia behind `is.string` being `toString.call(value) === '[object String]'` and not `typeof value === 'string'`?

[2017-11-17 19:28] jdalton commented on #283
Hi @avalanche1!

You can have `new String("foo")`.

[2017-11-17 19:28] #283 closed

[2018-01-03 09:50] joaomilho commented on #235
+10

[2018-03-26 12:01] #258 closed

[2018-05-16 19:04] kafeltz opened #285 "Feature Request: is.operaMini()"
Would be nice recognize the difference from these two since they have a completed different version.

Opera Mobile is version 46.
Mini Opera Mobile is version 33.

So i can't check something like this: `var isOutdated = is.mobile() && is.opera('< 46')`

[2018-05-21 07:25] ironmaniiith opened #286 "Moving to ES6?"
If the community is okay with this change, we can move the code base to ES6 version.
@jdalton, please share your views on this. I'll be happy to help in upgrading the current code base to ES6.

[2018-05-21 07:33] ironmaniiith commented on #131
Unable to reproduce, closing this issue for now.

[2018-05-21 07:33] #131 closed

[2018-05-22 04:06] ThomasSousa96 opened #287 "Fail Google Chrome validation"
* The function is.Chrome() returns true on the Microsoft Edge of the Android
* The function is.Chrome() returns false on the Google Chrome of the IPhone

[2018-05-22 14:45] ironmaniiith commented on #287
@ThomasSousa96 , thanks for reporting.
Could you please specify the versions as well?

[2018-05-23 13:46] jdalton commented on #286
I'm totally for this. On the Node side of things you can ship is.js with [`esm`](https://www.npmjs.com/package/esm). All modern browsers now support ES modules and 99.9% of ES6 language features so it's okay from that front too. For legacy browsers today's toolchain helpers like Babel and webpack smooth over many compat issues.

[2018-05-23 19:30] MarkelFerro commented on #285
It's a great idea.

[2018-05-24 05:39] ironmaniiith commented on #285
Added [here](https://github.com/arasatasaygin/is.js/commit/bf6534e2877343ab6e42ed4b75de4a6935875929)

Thanks for bringing this into notce.

[2018-05-24 05:39] #285 closed

[2018-05-24 10:21] KurozeroPB opened #288 "Ubuntu 18.04 not recognized as Linux using firefox nightly"
I'm on Ubuntu 18.04 and `is.linux()` is returning false. \
I tested it on firefox nightly, firefox, chromium and chrome, on both firefox it returns false but on chromium and chrome it returns true.

[2018-05-24 10:36] ironmaniiith commented on #288
Could you please paste the userAgent string as well for the above case?

[2018-05-24 12:42] KurozeroPB commented on #288
It was a lot of lines so I put it in a hastebin hope that's good too. \
https://hastebin.com/gikibetuci.php

[2018-05-24 14:54] ironmaniiith commented on #288
Thanks.
Looks like `navigator.appVersion` is not reliable anymore.

[2018-05-24 15:07] ironmaniiith commented on #288
Fixed [here](https://github.com/arasatasaygin/is.js/commit/56294950656ba58f940248510cdf3e45af357a1e)

[2018-05-24 15:07] #288 closed

[2018-05-24 15:10] KurozeroPB commented on #288
No problem, thanks for the quick fix

[2018-06-19 12:07] dackdel opened #289 "Documentation"
It might just be me, dont get me wrong im not trying to force my design sensibilities on you but jesus christ the documentation webpage has too much scroll.

Here is a suggestion: https://tympanus.net/codrops/2018/01/12/freebie-scribbler-website-template-html-sketch/ to make it more, readable. To save you some clicks here is a live demo (https://tympanus.net/Freebies/scribbler/)

[2018-06-19 13:57] jdalton commented on #289
Thanks for the tip @dackdel!

[2018-06-19 13:57] #289 closed

[2018-07-10 10:52] Andrew-Cottrell opened #290 "TypeError in is.offline due to undefined is.online before assignment"
https://github.com/arasatasaygin/is.js/blob/56294950656ba58f940248510cdf3e45af357a1e/is.js

At line 727 `is.online` is referenced before assignment and has the value `undefined`.

`727: is.offline = not(is.online);`
`732: is.online = function() {`

When `is.offline` is called the anonymous function returned from `not` attempts to invoke `apply` on `undefined` and throws

`is.offline` should be def

[2018-07-12 12:32] bbusschots-mu commented on #279
I regularly need to check if a user has passed a promise as a parameter to a function, so it would be great to have either is.promise() or is.thenable() added to this wonderful library.

[2018-07-12 15:37] ben-freenome opened #291 "is_empty should support Sets"
Once is.js supports ES6 (https://github.com/arasatasaygin/is.js/issues/286) I'd love for is_empty to also work with Sets. Thanks@

[2018-07-13 23:39] jdalton opened #292 "Enabled required-2fa"
In light of the [recent package worm](https://status.npmjs.org/incidents/dn7c1fgrr7ng), I've enabled [2fa](https://blog.npmjs.org/post/175861857230/two-factor-authentication-protection-for-packages) as a requirement for this package.
Maintainers [please enable 2fa](https://docs.npmjs.com/getting-started/using-two-factor-authentication) for your npm accounts.

[2018-08-05 19:13] paulomcnally opened #293 "numericality"
These validations are important:

* greater_than
* greater_than_or_equal_to
* less_than
* less_than_or_equal_to

[2018-08-06 16:31] ironmaniiith commented on #293
Could be implemented using the combinations of `is.under` or `is.above` with `is.equal` (in case of equality)

[2018-08-06 17:19] paulomcnally commented on #293
How would you use if you want to validate a password that is greater than 6 and less than 255 characters?

[code]

[2018-09-06 11:22] bbusschots-mu opened #294 "Proposal: is.primitive() to test for boolean, number, or string"
Hi,

I regularly need to check whether or not something is a primitive type, i.e. a boolean, number, or string. ATM I have to write ugly code like:

[code]

It would be great to be able to replace that with:

[code]

Assuming it would be accepted, I would be happy to write the code for this and submit a pull request. Would such a request get accepted?

[2018-09-06 12:15] bbusschots-mu opened #295 "proposal: is.allNot/is.none interface"
`is.any` and `is.all` are great, but I often find myself needing to make  sure that an array does not contain any of something:

[code]

If it would be accepted I'd be happy to the code and issue a pull request.

[2018-09-06 15:56] bbusschots-mu commented on #294
@jdalton an interesting idea, but I did a little testing and it is subtly different:

[code]

As you can see, everything went as expected until I tried with `null`. `null` is not a primitive, so it should return false. (Also, `null` is an object, so have I just found a bug?)

[2018-09-06 16:01] jdalton commented on #294
`null` is a primitive. It's the non-object value as `undefined` is the non-value value.

[2018-09-06 16:04] bbusschots-mu commented on #294
@jdalton I guess you can argue it's a primitive, but it is definitely an object, so should `is.object(null)`  not return `true`?

[2018-09-06 18:51] jdalton commented on #294
I know this is going to read odd but `typeof` does not necessarily dictate a value's type. `null` is not an object and not considered one by the specification. You can see this in builtins by doing:
[code]

[2018-09-06 20:52] ironmaniiith commented on #295
That's exact negation of `is.any`. You can always use `!is.any(...)` for this purpose

[2018-09-07 08:43] bbusschots-mu commented on #295
@ironmaniiith yes, but one of the big advantages if is.js is that it allows clear more human-friendly syntax.

You can say `!is.string()`, but the library right pushes you to the much clearer `is.not.string()`. Having to write `!is.any()` is a failure of that model that could be very easily fixed by adding a human-friendly interface.

[2018-09-07 08:47] bbusschots-mu commented on #294
@jdalton odd indeed — but I see your point.

I guess it comes down purely to supporting a more human-friendly coding style in two particular ways:

Most obviously, I think this the intent of `is.not.object()` is less clear than the intent of `is.primitive()`.

But less obviously, needing to rely on the `.not` interface means you can't check arrays without reverting to the `!` operator, which is de

[2018-09-07 22:43] ironmaniiith commented on #295
True. I'm not saying we should not have this functionality. Just told how it can be accomplished for now.

[2018-09-21 10:12] bedis-elacheche opened #296 "Both is.safari() and is.chrome() returns true for facebook inapp browser"
Hi,
I got an issue with browser detection features.
I used the following user agent string: `Mozilla/5.0 (Linux; Android 7.0; SM-G930F Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/67.0.3396.87 Mobile Safari/537.36 [FB_IAB/FB4A;FBAV;]`

Both methods `is.safari()` and `is.chrome()` are returing true for the same user agent.

[2018-09-28 20:04] fslone-nomi commented on #296
@bedis-elacheche Yeah currently both of those methods are using User Agent sniffing and aren't very reliable. I'll work on improving it and submit a pull request, in the meantime you'll have to depend on duck typing to make it more reliable.

[2018-09-28 20:12] fslone-nomi commented on #294
@jdalton are you running this project now? I'd be interested in writing some more features like this, I'd quit before since the creator didn't seem to want to work on it.

[2018-11-08 00:45] lmj0011 opened #297 "Document how to import this lib"
[code]

[code]

I don't think it's very obvious on how to import this lib into your node.js script. It wouldn't hurt to include one of the above imports in the README examples.

related issues:

https://github.com/arasatasaygin/is.js/issues/22

https://github.com/arasatasaygin/is.js/issues/158

[2018-11-08 15:36] kafeltz commented on #297
Any package inside package.json is: **import xxx from "yyy"** it is nice to make **import xxx from "xxx
"**

[2019-01-02 12:47] pikilipita commented on #296
That would be a great addition,
the same issue is happening within Skype mobile app:
it's tough to find out if a page it open within Skype inapp browser or within a real browser.

[2019-01-10 16:33] jmzo opened #298 "Webpack"
https://github.com/arasatasaygin/is.js/blob/56294950656ba58f940248510cdf3e45af357a1e/is.js#L25 After webpack compiles, this line in the `vendor.js` file looks like `})(undefined, function () {` which crashes at page load at `return root.is = factory()` since `root` is `undefined`.

What happened to `this`, why did it become `undefined` literal?

[2019-01-10 16:39] artemv commented on #279
@bbusschots-mu it's there since https://github.com/arasatasaygin/is.js/commit/43bd1b8f87beeccd69a3f26c4a68b473830ef5b9, but the changes are not being released/tagged lately for some reason. You can include that change like this:
[code]

[2019-01-10 16:53] jmzo commented on #298
Adding this for reference in case it helps... https://stackoverflow.com/questions/34973442/how-to-stop-babel-from-transpiling-this-to-undefined

[2019-02-04 14:15] vinogradov commented on #286
I absolutely vote for this change 👍  Currently the problem is that Webpack is unable to tree-shake the  library and puts all the code into my bundle (only if I use one function from the library).

[2019-08-07 11:19] bbusschots-mu opened #301 "is.error() does not recognise sub-classes of Error as errors"
I have custom error classes in my code that are properly sub-classed from Error using the very convenient `es6-error` NPM module. Errors generated with these sub-classes are recognised as instances of Error by JavaScript, i.e. `myError instanceof Error` evaluates to `true`. However, `is.error()` evaluates to false. Surely anything that gets `true` for `instanceof Error` should be recognised as an

[2019-09-04 19:33] fabioelia opened #302 "Feature: Support for identify IOS 13"
Ability to identify the new IOS 13 safari browsers for ipads

[2019-10-03 11:40] FA65 commented on #287
For information on the problem
is.chrome() returns false for Google Chrome on Apple mobile devices because the regexp used in the function, it is testing navigator.vendor and it returns 'Apple Computer, Inc.' instead of the expected  'google inc'

line 628
[code]

[2019-10-14 09:48] evdama opened #303 "logical && and logical ||"
I was wondering if there's a is.js way to replace the `&&` with? This snippet for example

[code]

can't be written as
[code]
or am I missing something simple here?

[2019-10-14 14:44] ironmaniiith commented on #303
You can ofcourse use [is.truthy](https://github.com/arasatasaygin/is.js#istruthyvalueany) which supports the all interface. You can either give comma separated values to `is.all.truthy` or you can pass an array as well.

[2019-10-14 15:02] evdama commented on #303
gosh, sure, thanks much... closing :)

[2019-10-14 15:02] #303 closed

[2019-10-15 18:09] lrockfo-bw opened #304 "is.chrome() environment check invalid for Chrome 77 - macOS (Mojave)"
- is.chrome() returns false for Chrome 77 on macOS (Mojave)
Checks performed:
        console.log(is.ie());
        console.log(is.edge());
        console.log(is.chrome());
        console.log(is.firefox());
        console.log(is.opera());
        console.log(is.safari());
All returned false for Chrome 77 on macOS (Mojave)

[2020-01-28 17:45] JamesS-M opened #306 "is.tablet() returns false on iPad"
[code]

isMobile returns the correct value, but isTablet always returns false

[2020-04-21 13:30] Mark5labs commented on #306
iPad with iPad OS13 shows fake User Agent.
![image](https://user-images.githubusercontent.com/43367424/79871117-94c9e000-83ec-11ea-9355-993e93ab3535.png)
This is what in iPad's Safari Settings called "Request Desktop Website" and this is ON by default.
![image](https://user-images.githubusercontent.com/43367424/79871475-10c42800-83ed-11ea-8c7c-788840d0709c.png)
I needed to show notification only o

[2020-05-07 12:39] ironmaniiith opened #308 "is.number returns True for `Infinity` and `-Infinity`"
The method `is.number` before #307 returns `True` in case of `Infinity` and `-Infinity`, which is something that might not be expected.

Though `typeof(Infinity)` in JS returns "number", this might not be what devs are expecting when they are using `is.number`

This has already been updated with [this](https://github.com/arasatasaygin/is.js/commit/45d1c9fe37bb9abb17e64781906f97c803a4bb85) commit

[2020-05-07 12:46] ironmaniiith commented on #308
@jdalton , what is your opinion on this? Should we stick to the old behaviour or change the definition of `is.number` for `Infinity` and `-Infinity`

[2020-05-12 04:30] Andrew-Cottrell opened #310 "documentation for `is.palindrome` should explain limitation"
It is surprising that `is.palindrome("café ífac") === true`. The [implementation](https://github.com/arasatasaygin/is.js/blob/v0.9.0/is.js#L414) indicates this is intentional. The documentation should explain that the `is.palindrome` function only gives unsurprising results for ASCII strings.

Related: https://github.com/arasatasaygin/is.js/issues/176

[2020-05-22 16:58] jdesherlia commented on #287
Is this library still being actively maintained? I just started using it and would really benefit from this issue being fixed, but looking at the issues, it seems like there is very little activity from the developers in the past couple of years.

[2020-06-06 12:45] pedromoraisf opened #311 "This lib do nots work in Vue.js"
I'm trying to use Vue.js and it's not working...

**Error:**

<img width="500" alt="Captura de Tela 2020-06-06 às 09 41 41" src="https://user-images.githubusercontent.com/55749387/83944473-2d1ff680-a7da-11ea-9572-61fac05a1671.png">

**Context:**
Env: Vue development mode
Usage: Using a js file and importing into Vue

<img width="500" alt="Captura de Tela 2020-06-06 às 09 44 47" src="https://user

[2020-06-06 12:50] pedromoraisf commented on #311
Sorry my conditional error in line 16 with second print 😆
Now that I realized it had to be "||"

But the problem is independent of that

[2020-06-15 15:02] pedromoraisf commented on #311
Up 🥺

[2020-06-18 20:50] metacoding opened #312 "is.empty(undefined) returns false"
Reproducing steps:
[code]

[2020-06-30 12:27] beccabrown opened #313 "is.edge() returns false in edge (tested on windows and mac os)"
This is because the regex is:
`var match = userAgent.match(/edge\/(\d+)/);
`
Whereas the user agent chosen by microsoft is edg. (see here https://docs.microsoft.com/en-us/microsoft-edge/web-platform/user-agent-string).

My user agent on macos is: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36 Edg/83.0.478.56

It is the same

[2020-06-30 14:15] beccabrown opened #314 "is.chrome() returns true in edge"
This is because the vendor in self.navigator.vendor in edge is Google Inc. and Chrome is part of the user-agent. In older versions of edge, the vendor was blank.

[2020-08-19 04:54] UmbyUmbreon commented on #313
This is because the newer versions of Edge are essentially Chromium now, and Microsoft changed the user agent to `Edg` to avoid inconsistencies with detecting the Spartan and Chromium user agents.

Given the reason why #214 was closed, I would wager that it would be acceptable that `is.edge()` returns false and `is.chrome()` returns true. I use `is.ie() || is.edge()` to detect cases where a user i

[2020-08-24 21:45] droplab opened #316 "Getting error when checking if window is defined"
I would think checks for window itself would've been wrapped with a try/catch so this would work out of the box?

`is.existy(window)` or `is.windowObject(window)`

Getting `error - ReferenceError: window is not defined`

[2020-09-10 08:04] ouroborus commented on #295
If is.js is going to have `not` (as it does), it should work with `any` and `all`. The syntax should be either `is.not.any`, `is.any.not`, or both, but definitely not `is.anyNot`.

[2020-09-14 09:11] vahnmarty opened #318 "How to import this into webpack or laravel-mix?"
I tried doing `require("is_js");`

But I am seeing warning

[code]

[2020-10-11 06:47] humayunkabir commented on #314
When I run `navigator.userAgent` in Edge console, I see this.

`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36 Edg/86.0.622.38`

I think, we can check `Edg` for Edge.

[2020-10-11 06:50] humayunkabir commented on #313
I think this is a good proposal.

[2020-10-15 15:33] mrkos67 commented on #302
I've created a PR to detect iPads w/ iOS 13+ here: https://github.com/arasatasaygin/is.js/pull/319

[2020-11-30 14:21] pwntester opened #320 "Security Issue: Request for contact"
Hello,

The [GitHub Security Lab team](https://securitylab.github.com/) has found a potential vulnerability in your project. Please create a [Security Advisory](https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/creating-a-security-advisory) and invite me in to further disclose and discuss the vulnerability details and potential fix. Alternatively, please add

[2021-03-18 12:53] haris-crewlogix opened #321 "is.safari() return true in MS Edge browser"
is.safari() return true in MS Edge browser and is.not.edge() return true in MS edge as well. :/

[2021-04-01 20:47] kamilszewczyk0 opened #322 "TypeScript support?"
Is library compatible with TypeScript?  Any extensions for types?

[2021-06-23 11:52] michael-33 opened #323 "is.chrome() return true in MS Edge browser and is.not.edge() return true in MS edge as well."

[2021-06-23 11:53] #323 closed, assigned to nobody

[2021-06-23 11:54] michael-33 commented on #321
the problem occurs also with is.chrome() in MS Edge browser

[2021-06-24 22:35] valepu commented on #322
There is types for this library but it's called "is" npm i --save-dev @types/is

[2021-06-25 09:36] valepu commented on #322
There is a bit of a problem with the `@types`.
The DefinitelyTyped package for `is_js `seems to be `@types/is` (i have tried @types/is_js @types/is-js @types/is.js @types/isjs but they don't exist), and the method calls seem correct, but if i import it like this:

`import * as is from 'is_js';`

i get an error saying it can't find the type definition when building (despite VS code not giving me an

[2021-08-09 09:52] shivam-tripathi commented on #322
@valepu `https://www.npmjs.com/package/is` and `https://www.npmjs.com/package/is_js` are two entirely different libraries.

[2021-08-11 10:09] dearsina commented on #313
Any update on this? Would love to see edgeChromium.

[2021-08-27 16:38] zidingz opened #324 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-01 15:04] fslone opened #325 "Contributing new features?"
I worked on this project a little bit in the past and would like to create more PRs, but there hasn't been much activity in the last couple years. If I fix some bugs and write some features is someone available to review them for merge?

[2021-10-07 14:30] valepu commented on #322
@shivam-tripathi  Yes, but the types are for is_js despite being called @types/is.
I can confirm this because the function is.existy is available in "is_js" but not in "is". On top of that if you check the file https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/is/index.d.ts you can read the following

[code]

[2022-03-14 22:40] evdama commented on #286
any updates on this one? what's the current status? from the PRs I can't see any work towards this so asking here seems ok 😃

[2022-03-15 20:53] fslone commented on #286
@evdama project seems sort of dead, been trying to contact someone about contributing code again but can't get a response. If you're still maintaining this @arasatasaygin or @jdalton let me know, I'd like to submit some PRs.

[2022-03-16 10:58] evdama commented on #286
it's a pity because I find is.js very very useful for runtime typechecking, even in today's typescript apps... not sure what to do as I don't want to use a library that's not being maintained anymore...

I'm currently also looking at https://github.com/scottrabin/is-js but then is.js just has so much more checks available already e.g. `is.ipv4()` which the latter doesn't have yet.

@scottrabin wha

[2022-03-16 12:17] evdama commented on #286
what do people think about running https://github.com/lebab/lebab on `is.js` then review it, and manually convert over to ES6 where and if needed?

[2022-03-16 20:55] evdama commented on #286
I've started working on this a bit https://github.com/evdama/is-it-check/blob/master/is-it-check.js

[2022-03-17 21:57] evdama commented on #325
I've forked and moved the entire codebase to ES6 👍
Also started adding some stuff from the PRs here https://github.com/evdama/is-it-check#ismacaddressvalueany

[2022-03-17 22:00] evdama commented on #324
@zidingz  I've forked and migrated the entire codebase to ES6... maybe the issue is therefore gone?
Let's have a look and let me know please https://github.com/evdama/is-it-check

[2022-03-17 22:02] evdama commented on #320
@pwntester I've forked and migrated the entire codebase to ES6... maybe the issue is therefore gone?
Let's have a look and let me know please https://github.com/evdama/is-it-check

[2022-03-17 23:22] fslone commented on #325
@evdama sweet, I'll see about getting you some PRs then. Thanks for keeping this alive.

[2022-03-18 11:38] JamieSlome commented on #324
@evdama - potentially. You can find three reports we have received against this repository here:

https://huntr.dev/bounties/29bcb9c4-bf34-40a9-bf3e-34645c62789c
https://huntr.dev/bounties/4bedb324-6fed-422e-b4b8-3624d09ca686
https://huntr.dev/bounties/56380c87-a124-4686-8db7-1e4e42514f64

They are all private and only accessible to maintainers with repository write permissions 👍 Let me know if yo

[2022-03-18 11:47] evdama commented on #324
Ok, I see, I've forked the repo to https://github.com/evdama/is-it-check and upgraded it etc.

Therefore I don't seem to have access to the three links you provided right?
Can you maybe go to my forked repo and create the bounties again because then I have owner permissions which then means I can access the bounty report on huntr.dev?

On Fri, Mar 18, 2022 at 12:39 PM Jamie Slome ***@***.***>
wrot

[2022-03-18 14:13] evdama commented on #308
This one can be closed as it's solved by https://github.com/arasatasaygin/is.js/pull/307 plus I've forked and upgraded the entire repo to ES6 plus in the progress also merged the tests for `Infinity` https://github.com/evdama/is.js/commit/ba8cb0ba323605d2fb777110c241254f84ceec23

[2022-03-18 14:16] evdama commented on #306
I've migrated the entire repo to ES6 and merged/fixed a few things along the way... can you try again with https://github.com/evdama/is-it-check as I've added a fix/feature for iOS13 today https://github.com/evdama/is.js/commit/06f7d54bd749120936eb05195eb57c65730260c6

[2022-03-18 14:18] evdama commented on #297
that's done in https://github.com/evdama/is-it-check as I've forked and migrated the entire repo to ES6 now 🥳
Have a look and send PR in case...
This one can probably be closed if you're happy with the migration...

[2022-03-19 08:01] JamieSlome commented on #324
Ah, I see!

We would require our researchers to therefore submit vulnerabilities against your repository.

@yetingli and @ready-research - if you want, you are both welcome to submit your reports to the forked repository, given that the vulnerability exists 👍

[2022-03-19 12:25] yetingli commented on #324
Thanks @evdama  and @JamieSlome .  I have submitted my reports, please check them out.

https://www.huntr.dev/bounties/8582ef0e-6ea1-40a3-8de0-30c53dbc76af/
https://www.huntr.dev/bounties/12462790-03b6-4e36-a5af-383914747a1c

[2022-03-20 08:52] #297 closed

[2022-03-20 18:45] evdama commented on #316
this is probably happening because the test is not run in an environment where `window` exists e.g. on node

[2022-03-20 18:46] evdama commented on #316
I've been upgrading/migrating the entire lib over the last few days so feel free to send a PR https://github.com/evdama/is-it-check

[2022-03-21 18:38] evdama commented on #316
I've added a litte information on this matter, added test, plus, the errors don't occur anymore https://github.com/evdama/is.js/commit/31ad3294e4a696d7fb80d52524e1af990d554011

Close this issue if you're happy with the result

[2022-03-21 20:47] evdama commented on #324
First one is fixed now

- https://huntr.dev/bounties/8582ef0e-6ea1-40a3-8de0-30c53dbc76af/
- https://github.com/evdama/is.js/commit/74b01444421525d636dabb47d4e72b23fd58a152

[2022-03-21 20:57] evdama commented on #324
Second one is fixed too... issue can be closed

- https://huntr.dev/bounties/12462790-03b6-4e36-a5af-383914747a1c/
- https://github.com/evdama/is.js/commit/d60d34f1b4698c4f8559c2df7b2b5642625454a5

[2022-03-21 22:28] evdama commented on #316
If you'd be using this in some SSR or Node.js environment I'd recommend a `try/catch` block in your own code
[code]

[2022-03-30 03:52] evdama commented on #321
I have no MS Edge to test this… can you try with https://github.com/evdama/is-it-check and let me know please 🙏

[2022-03-30 04:04] evdama commented on #314
I have no MS Edge to test this with but
,,,js
is.edge = range => {
        const match = userAgent.match(/edg(e|a|ios)?\/(\d+)/)
        return match !== null && compareVersion(match[1], range)
,,,

from https://github.com/evdama/is-it-check seems to not have this issue? Can you check please?

[2022-03-30 07:39] evdama commented on #310
https://github.com/evdama/is.js/commit/ca79bba3614e988a82e7ac47e6d8a14c61d6e706 explains it

[2022-03-30 07:40] evdama commented on #176
I've forked and explained it here https://github.com/evdama/is.js/commit/ca79bba3614e988a82e7ac47e6d8a14c61d6e706

[2022-04-04 08:26] pwntester commented on #320
Hi @evdama , your fork seems to be unaffected by this issue

[2022-04-04 08:34] evdama commented on #320
@pwntester excellent, I just run all tests again, no issues found...

[2022-04-09 08:36] silasabbott commented on #306
As of now, on an **iPad Pro (12.9-inch) (4th gen)** running **iPadOS 15.4**, here’s what returns:

### is.js
[code]

### [is-it-check](https://github.com/evdama/is-it-check)
[code]

🎉

[2022-04-09 09:54] evdama commented on #306
excellent, so I consider this fixed in `is-it-check` 👍
did you test with `is-it-check` v1.0.11, which is the current version I pushed to npm?